.subtitle{ 

  position: relative;
  text-align: center;
  margin: 34px 0;

  h2 {
    display: inline;
    font-size: 1.5em;
    font-family: $font-family-serif;
    font-style: italic;
    letter-spacing: -0.015em;
    background: #dee5d8;
    padding: 0 10px;
    text-shadow: 1px 1px 0 #fff;
  }

  @include title-lines( $colorTextGreen );
}

