<li>
  <div class="picture">
    <%= link_to image_tag( lorem.image('74x74'), :class => 'img-responsive' ), '#', :class => 'image' %>       
  </div>
  <div class="content">
    <%= link_to title, '#' %>
    <small><%= lorem.sentence %></small>
  </div>
</li>