<div class="entities wall row">
 
  <!-- Entities list -->
  <% entities_data.each do |entity| %>

    <div class="wall-item col-sm-3">
      <div class="panel panel-default">
        <%= link_to image_tag('http://lorempixel.com/500/300', :class => 'img-responsive'), "#{path}/#{entity.slug}", :class => 'image' %>
        <div class="panel-heading">
          <h3><%= link_to entity.name, "#{path}/#{entity.slug}" %></h3>
        </div>
        <div class="panel-body">
          <div class="description">
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
          </div>
        </div>
      </div>
    </div>

  <% end %>
</div>
