<div class="entities wall row">
 
  <div class="wall-item col-sm-12">
    <div class="panel panel-default">

    <!-- Entities list -->
    <% entities.each do |entity| %>
      <div class="panel-heading">
        <h3><%= link_to entity[field], "#{path}/#{entity.slug}" %></h3>
      </div>
    <% end %>
    </div>
  </div>
</div>
