<footer class="footer">
  <div class="main-footer text-center">
    <p>Un proyecto de</p>
    <a href="http://www.civio.es" class="logo" title="Civio" target="_blank">
      <%= image_tag("logo-civio.png", alt: "Logo Civio") %>
    </a>
    <p>financiado por crowdfunding en</p>
    <a href="https://goteo.org/project/quien-cobra-la-obra" class="logo" title="Goteo" target="_blank">
      <%= image_tag("logo-goteo.png", alt: "Logo Goteo") %>
    </a>
    <p>gracias a</p>
    <a href="https://goteo.org/project/quien-cobra-la-obra/supporters" class="logo" title="Goteo" target="_blank">250 cofinanciadores</a>
  </div>
  <div class="sub-footer">
    <p class="text-center">© 2015 · Fundación Ciudadana Civio</p>
  </div>
</footer>