<div class="page-navigation-btns">
  <% if page_prev != nil %>
  <a class="page-prev" href="<%= page_prev %>">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    Anterior
  </a>
  <% end %>

  <% if page_next != nil %>
  <a class="page-next" href="<%= page_next %>">
    Siguiente
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
  </a>
  <% end %>
</div>