<div class="posts wall row">
   
  <!-- Posts list -->
  <% @articles.each_with_index do |post, i| %>
    <% unless !(defined?(limit_to)).nil? and i >= limit_to %> 

    <div class="wall-item col-sm-6 col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3><%= link_to post.title, '/articulos/'+post.url %></h3>
          <div class="post-date">
            <span class="day"><%= post.date_day %></span>
            <span class="month"><%= post.date_month %></span>
          </div>
        </div>
        <div class="panel-body">
          <%= link_to image_tag('http://lorempixel.com/500/300', :class => 'img-responsive'), "/articulos/#{post.url}", :class => 'image' %>
          <div class="description">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a diam lectus. Sed sit amet ipsum mauris. Maecenas congue ligula ac quam viverra nec consectetur ante hendrerit.</p>
          </div>
        </div>
      </div>
    </div>

    <% end %>
  <% end %>
</div>