<li>
  <div class="picture">
    <%= link_to image_tag('http://lorempixel.com/74/74', :class => 'img-responsive'), '#', :class => 'image' %>
  </div>
  <div class="content">
    <%= link_to title, '#' %>
    <small>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a diam lectus. Sed sit amet ipsum mauris.</small>
  </div>
</li>