<div class="title companies">
  <h2>Empresas</h2>
</div>

<%= render(partial: 'partials/entities', :locals => { :entities_data => @bidders, :path => 'empresas' }) %>

<div class="text-center">
  <%= paginate @bidders %>
</div>