<div class="title companies">
  <h2>Grupos constructores</h2>
</div>

<div class="panel panel-default">
  <div id="companies-chart" class="stacked-bar-chart"></div>
</div>

<%= render(partial: 'partials/entities', :locals => { entities: @bidders, field: :group, path: 'grupos-constructores' }) %>

<div class="text-center">
  <%= paginate @bidders %>
</div>