<div class="title law">
  <h2>Guía básica de la Ley de Contratos del Sector Público</h2>
</div>

<div class="panel panel-default panel-page">
  <div class="panel-body">
    <p>El <a href="https://www.boe.es/buscar/act.php?id=BOE-A-2011-17887">texto refundido de la Ley de Contratos del Sector Público</a> es <strong>una de las normativas más complejas</strong> y a la vez importantes de las administraciones públicas. Conocerla es esencial para entender cómo funcionan esas contrataciones y, lo que es más importante, para detectar irregularidades. En <em>Quién Cobra la Obra</em> hemos realizado esta guía abierta, que te permitirá entender los puntos clave respecto a <strong>obligaciones de transparencia, control y procedimientos</strong> sin haber sido opositor ni experto en derecho público. No hemos resumido toda la norma, pero sí aquellos puntos que consideramos básicos para entender el funcionamiento del sistema. Incluye las últimas <a href="http://boe.es/boe/dias/2015/12/31/pdfs/BOE-A-2015-14343.pdf">modificaciones</a> al texto legal y tiene la mirada puesta en la gran reforma que llegará cuando se apliquen las <a href="http://www.europarl.europa.eu/meetdocs/2014_2019/documents/imco/dv/classic_pp_/classic_pp_es.pdf">directivas europeas aprobadas en 2014</a>. </p>
    <h3>¿A quién aplica?</h3>
    <p>A priori, todos los contratos firmados por las administraciones públicas españolas tienen que cumplir, como mínimo, los preceptos que marca esta normativa. Eso sí, hay <strong>excepciones</strong>:</p>
    <ul>
      <li>
        <p>Las primeras son sobre determinado tipo de contratos: la norma excluye los acuerdos internacionales, los contratos de servicios financieros (como la venta de valores) y los servicios y suministros a organismos públicos de investigación estatales y de comunidades autónomas (CCAA). </p>
      </li>
      <li>Las segundas van dirigidas a CCAA y entidades locales (EELL). La gran mayoría de la norma es legislación básica y, por lo tanto, de obligado cumplimiento para todo tipo de entidades públicas, incluso las que han desarrollado sus propias normativas sobre el tema. Eso sí, ciertos puntos de la norma NO aplican a CCAA y EELL. Entre las excepciones.... <strong>EXCEL MIGUEL</strong>
      </li>
    </ul>
    <p>Además, la ley distingue entre lo que considera Administraciones Públicas (AAPP) y lo que no:</p>
    <h4>Lo que la ley considera Administraciones Públicas</h4>
    <ul>
      <li>Administración General del Estado (AGE), administraciones de las CCAA y entidades locales (incluye diputaciones forales).</li>
      <li>Seguridad Social.</li>
      <li>Organismos autónomos. </li>
      <li>Universidades públicas.</li>
      <li>Entidades de derecho público que:
        <ul>
          <li>Tengan funciones de regulación o control sobre un sector.</li>
          <li>Entidades sin ánimo de lucro cuya actividad principal no sea la producción en régimen de mercado. </li>
          <li>Entidades sin ánimo de lucro que efectúen operaciones de distribución de riqueza o renta.</li>
          <li>Aquellas que no se financian mayoritariamente con ingresos de renta. </li>
        </ul>
      </li>
      <li>La norma NO considera AAPP a organismos independientes como Congreso, Senado, CGPJ, TC, Tribunal de Cuentas, Defensor del Pueblo (y entidades análogas en CCAA), parlamentos autonómicos y diputaciones locales, pero les aplica las mismas normas que al resto de los organismos de este apartado como si lo fueran. (Disposición Adicional 1ª bis)</li>
    </ul>
    <h4>Lo que la ley NO considera Administraciones Públicas</h4>
    <ul>
      <li>Entidades públicas empresariales.</li>
      <li>Sociedades mercantiles con capital social público superior al 50%.</li>
      <li>Consorcios.</li>
      <li>Fundaciones con más del 50% de aportación fundacional o patrimonio procedente de fondos públicos.</li>
      <li>Mutuas.</li>
      <li>Resto de entidades de derecho público. </li>
    </ul>
    <h4>¿Por qué es importante esta distinción?</h4>
    <p>Los contratos que celebren las entidades que forman parte del sector público pero no son consideradas AAPP se denominan <strong>contratos privados</strong>. Aunque tienen que cumplir ciertos requisitos para su adjudicación similares a los que aplican a las AAPP -redacción de pliegos, ofertas, cierta publicidad del proceso- sus exisgencias son mucho menores. En este resumen vamos a centrarnos en el proceso, las exigencias y la normativa que aplica a las AAPP. </p>
    <h3>Tipos de contratos: por el objeto</h3>
    <p>Dependiendo de lo que se vaya a contratar, se clasifican entre contratos de servicios, de obras, de concesión de obra pública, de suministros, de gestión de servicios públicos, de colaboración entre el sector público y el sector privado. En este proyecto nos hemos centrado en dos tipos:</p>
    <h4>Contrato de concesión de obra pública</h4>
    <p><strong>Dependiendo de lo que se vaya a contratar, se clasifican entre contratos de servicios, de obras, de concesión de obra pública, de suministros, de gestión de servicios públicos, de colaboración entre el sector público y el sector privado. En este proyecto nos hemos centrado en dos tipos</strong>. COPIAR</p>
    <h4>Contrato de obras</h4>
    <p>Existen ciertas reglas especiales que aplican a contratos de obras:</p>
    <ul>
      <li>
        <p>Puede hacerse a tanto alzado -con precios cerrados- o por precios unitarios (por poner un ejemplo bruto: ladrillos). O pueden combinarse ambas fórmulas en las distintas unidades de obra, que son agrupaciones de costes de una obra que se valora bajo la misma unidad de medida. Por ejemplo, si hablamos de metros cuadrados construidos, el precio incluirá la mano de obra y los materiales necesarios. </p>
      </li>
      <li>La ley no permite las <strong>modificaciones</strong> para ampliar la obra inicial, pero sí para cumplir el objetivo estipulado. Por ejemplo, si el constructor está a medio camino y se encuentra un yacimiento y tiene que modificar el trazado, añadiendo más materiales y mano de obra, se deberá ampliar el presupuesto para poder alcanzar el objetivo inicial. Este es un ejemplo legal y que tiene sentido. El problema es que estas modificaciones se han usado en algunas ocasiones para hinchar el precio ofertado, que al ser más bajo que el coste real, es el que a permitido a la empresa hacerse con el contrato frente a otras con presupuestos más realistas. Si la modificación no supone aumentar las unidades de obra, la administración pone el precio y, si a la empresa no le convence, se va y se contrata a otra. Y un punto importante: <strong>se pueden introducir variaciones sin aprobación del órgano de contratación, directamente, cuando no represente un incremento de gasto de más del 10% del presupuesto inicial</strong>. </li>
    </ul>
    <p><strong>¿Y SI EL CONTRATO ES MIXTO?</strong>. Se trata de contratos de varias materias: por ejemplo, contratando las obras de una sala y el suministro de nuevos muebles. En esos casos, se clasifica según la parte que pese más (en euros, claro).</p>
    <h3>Tipos de contrato: por el proceso</h3>
    <p>Tenemos que tener en cuenta dos conceptos: <strong>tramitación</strong> y <strong>procedimiento</strong>.</p>
    <h4>Tramitación urgente vs. ordinaria</h4>
    <p>En la tramitación urgente, los plazos de licitación, adjudicación y formalización se reducen a la mitad. Desde la formalización, además, la empresa tiene que empezar la ejecución del contrato antes de 15 días. Pero no todo se recorta a la mitad: los 15 días previos a la formalización se mantienen y, en regulación armonizada, los plazos de información y presentación de solicitudes también se mantienen. También existe una tramitación de emergencia, para desastres naturales, por ejemplo. </p>
    <h4>Por procedimiento</h4>
    <h5>ABIERTO</h5>
    <p>Se licita de forma abierta y pública y cualquier empresario que pueda contratar con las administraciones y que cumpla los requisitos de solvencia o experiencia establecidos se puede presentar. Debería ser el más habitual. Lo que dice la ley es que "la adjudicación, ordinariamente, tiene que llevarse a cabo por procedimiento abierto o restringido". Pero no se cumple. </p>
    <h5>RESTRINGIDO</h5>
    <p>Se trata de un sistema en el que solo pueden participar los empresarios elegidos por el órgano de contratación, seleccionados por criterios objetivos de solvencia. El número mínimo de empresario que tienen que participar es cinco. "Está prohibida toda negociación de los términos del contratos con los solicitantes a candidatos", recuerda la ley. Porque eso sería un...</p>
    <h5>DIÁLOGO COMPETITIVO</h5>
    <p>Se pueden establecer primas o compensaciones para los participantes, que dialogan sobre la mejor solución a las necesidades de la administración. Normalmente se usa en contratos de colaboración público/privada y en contratos particularmente complejos. </p>
    <h5>CONCURSOS DE PROYECTOS</h5>
    <p>Para arquitectura, urbanismo... Están vinculados a la adjudicación del servicio o se paga a los participantes (hay dos tipos). Si va con jurado: si se elige una cualificación para poder participar, al menos 1/3 del jurado debera contar con ella también. </p>
    <h5>ACUERDOS MARCO</h5>
    <p>Es un tipo de contrato en el que se elige a una o varias empresas para suministrar o realizar un servicio para varias entidades y en varias ocasiones. Una vez se firma, las entidades públicas que formen parte pueden contratar directamente cada vez que lo necesitan con la o las empresas que participen. Se permiten siempre que no sean abusivos ni frenen la competencia. </p>
    <p>REGLAS BÁSICAS:</p>
    <ul>
      <li>Si se firma con varios empresarios, deben ser al menos tres.</li>
      <li>Los contratos dentro del acuerdo marco no necesitan adjudicación. Si son de regulación armonizada, tienen que consultar a los empresarios participantes antes de contratar; si no es de regulación armonizada, se contrata directamente sin trámites previos. </li>
    </ul>
    <p>REGLAS DE PUBLICIDAD:</p>
    <ul>
      <li>Para el acuerdo marco en sí: si es de regulación armonizada, tiene que publicarse en BOE y Diario Oficial de la Unión Europea (DOUE). El resto tienen que publicarse en el perfil del contratante y en BOE (si es AGE) o boletines de las CCAA o boletines provinciales, a elegir. </li>
      <li>Los contratos bajo el acuerdo marco se publicarán "si se estima oportuno".</li>
    </ul>
    <h5>NEGOCIADO</h5>
    <p>Se elige al djudicatario tras consultar con diversos candidatos y negociar las condiciones del contrato con uno o varios de ellos. Es obligatorio solicitar ofertas, al menos, a tres empresas capacitadas, siempre que sea posible. </p>
    <h3>¿Cuándo se permite el uso del procedimiento negociado?</h3>
    <p>En la actualidad, este sistema <strong>se puede</strong> usar cuando se cumplan determinados <strong>requisitos por el objeto del contrato o por problemas en su tramitación</strong> o por <strong>criterios de precio</strong>, es decir, por debajo de un umbral de coste está permitido. La directiva europea que España debería aplicar antes de finalizar el mes de abril impone la supresión de los supuestos de precio. Pero, por el momento, y a la espera de su aplicación, estos son los supuestos en los que se permite el uso del procedimiento negociado: </p>
    <ol>
      <li>Si falla el concurso abierto porque los empresarios no estaban capacitados o presentaron ofertas anormales.</li>
      <li>Si falla el concurso abierto porque no se presenta nadie. </li>
      <li>En casos excepcionales en los que las características o riesgos no permiten determinar previamente el precio final. </li>
      <li>Por razones técnicas o artísticas o de protección de derechos en exclusiva que hagan que solo pueda encomendarse a un empresario. </li>
      <li>Por imperiosa urgencia no imputable al organismo (si te retrasas porque se te olvidó poner en marcha el contrato a tiempo, no vale) y cuando no baste con utilizar la tramitación urgente. </li>
      <li>Para contratos secretos o reservados.</li>
      <li>En contratos sobre seguridad y acuerdos de armas vinculados al tratado de la UE.</li>
    </ol>
    <blockquote>
      <p>En contratos de obras:</p>
    </blockquote>
    <ol>
      <li>Si el valor es menor a un millón de euros (en cualquier caso).</li>
      <li>Únicamente con fines de investigación. </li>
      <li>Ampliaciones que no estén en el proyecto inicial pero sean necesarias y a la misma empresa, pero que no se pudieran prever y que no suponga mas del 50% inivial. </li>
      <li>Repetición de obras similares adjudicadas. Se permite con un máximo de tres años desde el primer contrato y tiene que existir esa posibilidad en el contrato inicial. </li>
    </ol>
    <blockquote>
      <p>En gestión de servicios públicos:</p>
    </blockquote>
    <ol>
      <li>Con un valor menor de 500.000 y de menos de 5 años de duración.</li>
      <li>La prestación de asistencia sanitaria concertada bajo convenio o acuerdo marco. </li>
    </ol>
    <blockquote>
      <p>En suministros</p>
    </blockquote>
    <ol>
      <li>De menos de 100.000 euros, en todo caso. Ese es el límite que se aplica también para contratos de <strong>servicios y otros</strong>.</li>
      <li>Adquisición de bienes muebles del Patrimonio Histórico Español.</li>
      <li>Esclusivamente con fines de investigación.</li>
      <li>Reposición o ampliación con un mismo empresario si cambiar de proveedor supone un problema grave.</li>
      <li>Concertado por cese de actividad o concurso procesal, lo que hace que el precio sea muy ventajoso. </li>
    </ol>
    <p>Además de la división entre tipos de contratos por procesos de adjudicación, los negociados pueden ser con o sin publicidad.</p>
    <h4>Son <strong>con publicidad</strong>:</h4>
    <ul>
      <li>Por precio: los de más de 200.000 en obras y 600.000 en el resto</li>
      <li>El punto 1 y 3 de las condiciones generales de arriba (si falla el concurso abierto porque se presentan ofertas que no cumplen o en casos excepcionales en los que no se pueda aclarar el precio) y el punto 2 en obras (con fines de investigación). </li>
    </ul>
    <p>El resto son <strong>negociados sin publicidad</strong>
    </p>
    <h3>Obligaciones de publicidad</h3>
    <p>Veamos a qué están obligados y dónde lo tienen que publicar:</p>
    <h4>Anuncio previo</h4>
    <p>ES <strong>optativo</strong>. Se puede publicar (si quieren) antes del anuncio de licitación. Pero, ¿para qué? Normalmente se usa en contratos complejos y permite acortar los plazos en las siguientes fases del contrato, porque los licitadores ya tienen información. </p>
    <h4>Licitaciones</h4>
    <ul>
      <li>Contratos de regulación armonizada: siempre en BOE + DOUE.</li>
      <li>Concursos abiertos: BOE si es estatal, boletines autonómicos o provinciales si es regional (a elegir).</li>
      <li>Negociados con publicidad: igual que en abiertos. (recuerda: son los negociados en los casos en los que si se presentan empresarios carentes de aptitud en concurso abierto, por casos excepcionales en los que no se puede valorar el importe total, en obras con fines de investigación, contratos de servicios con prestación que no permita establecer las condiciones con precisión y mayores de 200.000 en obras y de 60.000 en el resto).</li>
      <li>Negociados sin publicidad: si publican algo, en el perfil del contratante, pero no están obligados.</li>
    </ul>
    <h4>Presentación de ofertas</h4>
    <p>"Las proposiciones son secretas" (artículo 145.2). Siempre. Eso sí, en las actas de adjudicación finales en ocasiones podemos saber cómo se han valorado las ofertas y, si el único criterio es el precio, quizás sepamos qué ofrecieron o, a tenor de las puntuaciones, quién ofreció el precio más alto y quién el más bajo.</p>
    <h4>Adjudicación</h4>
    <p>Se publica en el perfil del contratante y se notifica a los interesados. Esa notificación, que <strong>no es pública</strong>, debe incluir: quién gana, cuál era su propuesta y por qué el resto no gana o le han excluido del proceso. Esta información se da a las empresas que hayan participado con una excepción: si perjudica a los intereses comerciales o a la competencia leal. </p>
    <h4>Formalización</h4>
    <ul>
      <li>Siempre que no sea contrato menor: a perfil del contratante.</li>
      <li>Regulación armonizada: BOE + DOUE siempre. </li>
      <li>Si el valor es superior a los 100.000 euros (o más de 100.000 euros al año o más de cinco años en contratos de gestión de servicios públicos): BOE y/o boletines oficiales CCAA y provinciales (a elegir). Aunque hay una excepción pequeña: el órgano de contratación podrá no publicar determinada información, preguntando a la UE si es necesario, en contratos menores de 193.000 euros de hostelería, transporte, servicios jurídicos, educación, servicios sociales y esparcimiento. </li>
    </ul>
    <h3>Prohibiciones para contratar con las AAPP</h3>
    <ul>
      <li>Solo pueden ser adjudicatarias las empresas que tengan en sus fines (estatutos o reglas fundacionales) el objeto o ámbito de actividad.</li>
      <li>No pueden concurrir empresas que participen en la elaboración de las especificaciones técnicas o documentos preparatorios "siempre que pueda provocar restrucciones a la libre competencia o suponer trato privilegiado".</li>
      <li>Están vetadas las empresas sancionadas por infracción grave en: disciplina de mercado, integración laboral y no discriminación de discapacitados; o muy grave en: materia social (prevención de riesgos laborales, por ejemplo) o medioambiental. </li>
      <li>Prohibido también para empresas en concurso voluntario, insolventes o sometidas a intervención judicial.</li>
      <li>Tienen que hallarse al corriente en el cumplimiento de sus obligaciones tributarias o con la seguridad social.</li>
      <li>Veto a las que presented falsedades en su declaración responsable de estar en cumplimiento de lo anterior. </li>
      <li>Vetado para quienes se encuentren en los supuestos de conflictos de interés de miembros del Gobierno y altos cargos (Ley 53/1984). También sus cónyuges, vinculados e hijos (si tienen su representación legal). </li>
      <li>Prohibición a quienes hayan contratado a personas que incumplen conflicto de intereses al pasar de lo público a lo privado en los dos años siguientes del mismo sector que regulaba en lo público. </li>
      <li>Condenado (el que se presente o las empresas cuyos administradores o representantes estén condenados por el trabajo en esa empresa) por sentencia firme en los siguientes delitos:
        <ul>
          <li>Asociación ilítica.</li>
          <li>Corrupción en transaccciones económicas internacionales.</li>
          <li>Tráfico de influencias.</li>
          <li>Cohecho.</li>
          <li>Fraude y exacciones ilegales.</li>
          <li>Delitos contra la Hacienda Pública y la Seguridad Social.</li>
          <li>Delitos contra los derechos de los trabajadores.</li>
          <li>Malversación y similares.</li>
          <li>Delitos relativos a la protección del medio ambiente.</li>
          <li>Pena de inhabilitación para el ejercicio de su oficio</li>
        </ul>
      </li>
    </ul>
    <p><strong>Prohibido pero, ¿por cuánto tiempo?</strong> > En general, cinco años, 8 si hablamos de condenas firmes. </p>
    <h4>Otras prohibiciones</h4>
    <ul>
      <li>Haber dado lugar a resolución firme de contrato anterior.</li>
      <li>Haber infringido la prohibición de contratar antes.</li>
      <li>Retirar su candidatura a una licitación o no cumplimentar los papeles necesarios para que te la adjudiquen. </li>
      <li>Haber incumplido condiciones esenciales de contrato anterior. </li>
    </ul>
    <p><strong>¿Cómo se comprueba?</strong>. Lo más usual es que la empresa firme un documento en el que declara estar al corriente de sus pagos con Hacienda y la Seguridad Social y no estar en ninguna de las prohibiciones anteriores. </p>
    <h3>Los tiempos</h3>
    <p>[Estas reglas aplican, en general, a los procedimientos abiertos y sin tramitación urgente]</p>
    <ol>
      <li>
        <p>PUBLICACIÓN DE ANUNCIO DE LICITACIÓN.</p>
      </li>
      <li>PLAZO DE PRESENTACIÓN DE SOLICITUDES. </li>
    </ol>
    <ul>
      <li>En <strong>regulación armonizada</strong>, se tiene que dejar un plazo no menor a <strong>52 días</strong> desde que se envía el anuncio a la UE. Puede reducirse a 47 si el acceso a los pliegos es telemático. Además, si la licitación ha contado con anuncio previo, se puede dejar un plazo menor, de 36 días y, en casos excepcionales, de 22. Y se le puede restar 7 días más si los pliegos están online. Así, de 15 a 52 días, dependiendo de muchas variables. En todo caso, a publicación en el BOE debe hacerse 15 días antes de cerrar el plazo (26 en el caso de obras) como mínimo, la misma regla que aplica a:</li>
      <li>No regulación armonizada. </li>
    </ul>
    <ol>
      <li>
        <p>APERTURA DE PROPOSICIONES.</p>
      </li>
      <li>PROCESO DE SELECCIÓN. Si el único criterio es el precio, el máximo para elegir al ganador es de 15 días. Para el resto, un máximo de 2 meses (excepto si pone otra cosa en los pliegos). Si hay ofertas desproporcionadas, pueden sumar otros 15 días. Y ojo, si no cumplen estos plazos, las empresas pueden retirarse.</li>
      <li>ELECCIÓN DE LA OFERTA ELEGIDA.</li>
      <li>JUSTIFICACIÓN DEL GANADOR. El ganador tuene 10 días para presentar la documentación que demuestre que está al corriente con los tributos y la seduridad social. Desde la recepción de esos documentos, la administración tiene cinco días para adjudicar. No se puede declarar desierta si alguna empresa cumple los requisitos. </li>
      <li>ADJUDICACIÓN. Se publica en el perfil del contratante y se notifica a los interesados (para que pueda recurrir).</li>
      <li>PERIODO PREVIO A LA FORMALIZACIÓN. Este es el momento en el que otros participantes pueden recurrir. Si es suscepcible de recurso especial, no se puede pasar al siguiente paso (la formalización) antes de 15 días ni mas tarde de 20. El resto de contratos se tienen que formalizar antes de 15 días. </li>
      <li>FORMALIZACIÓN. Se tiene que publicar antes de que pasen <strong>48 días</strong> desde su firma. A partir de la firma de la formalización se puede ejecutar el contrato, nunca antes, excepto en emergencias. </li>
      <li>EJECUCIÓN.</li>
      <li>FIN DEL SERVICIO.</li>
      <li>
        <p>PAGO. Se tiene que pagar a los 30 días de finalizar el contrato (o toca pagar intereses). </p>
        <ul>
          <li>Hay que enviar la información del contrato al Tribunal de Cuentas dentro de los 3 meses siguientes a la formalización si son contratos de >600.000€ en obras, de más de 450.000€ en suministros y más de 150.000€ en servicios. </li>
        </ul>
      </li>
    </ol>
    <h3>Cláusulas de resolución</h3>
    <ul>
      <li>Por muerte, incapacidad o extinción de la empresa. </li>
      <li>Por concurso o insolvencia.</li>
      <li>Demora en plazos por parte del contratista (o, en procesos urgentes, si arranca más tarde de 15 días desde la formalización).</li>
      <li>Demora en los pagos por parte de la administración de más de seis meses (o lo que marque cada CCAA). A partir de 30 días desde finalizado hay intereses. </li>
      <li>Imposibilidad de ejecutar o seguir ejecutando el contrato por lesión grave del interés público y cuando no sea posible modificar el contrato para evitarlo. </li>
      <li>Incumplimiento de las obligaciones contractuales esenciales.</li>
    </ul>
  </div>
</div>
