<div class="title glossary">
  <h2>Glosario</h2>
</div>

<div class="panel panel-default panel-page">
  <div class="panel-body">
    <h3>Valor estimado</h3>
    <p>Es el importe máximo que puede alcanzar el contrato, ya que incluye las posibles prórrogas y ampliaciones o modificaciones. Si no lo aclara, se suele expresar sin IVA. Es la cifra que usaremos para calcular todos los umbrales.</p>
    <h3>Importe de licitación</h3>
    <p>Es el precio máximo, con IVA y sin IVA, que la AAPP está dispuesta a pagar por un servicio, suministro u obra concretos sin tener en cuenta prórrogas y modificaciones o ampliaciones. En la mayoría de contratos, las empresas que se presentan ofertan rebajas sobre esa cantidad. Es importante no confundirlo -un error habitual que seguro os encontráis a menudo- con el valor estimado. Por ejemplo: un ayuntamiento quiere contratar el servicio de basuras por un año y, aunque no contempla ampliaciones, el contrato prevé la posibilidad de prorrogarlo por otro año mas. En ese caso, el importe de licitación será el precio máximo que está dispuesto a pagar por el año de ejecución (pongamos, 100.000 euros sin IVA) y el valor estimado será el máximo si se amplía a dos años (200.000). Así, un titular que dijera que el ayuntamiento gasta 200.000 euros al año en la recogida de basuras sería erróneo.</p>
    <h3>Importe de adjudicación</h3>
    <p>Si el importe de adjudicación es el presupuesto del contrato, el de adjudicación es el precio final ofertado por la empresa y contratado. Si no pasa nada (algunas modificaciones, sobre todo en contratos de obras, aparecen de forma inesperada), eso es lo que pagará la administración a la empresa que se lleve la adjudicación. </p>
    <h3>Contrato menor</h3>
    <p>Los contratos menores son aquellos de menos de 50.000 euros en obras y de menos de 18.000 euros en el resto de contratos. En este tipo de contratos no es necesario pasar por todo el proceso que detallaremos a continuación, ya que solo necesitan contar con la aprobación del gasto y emitir una factura y se pueden adjudicar directamente a una empresa. </p>
    <h3>Troceos</h3>
    <p>Tanto el Tribunal de Cuentas como algunos casos destapados en diferentes administraciones públicas han puesto el foco en esta práctica, consistente en dividir un contrato en varios para esquivar obligaciones de publicidad o de concurrencia. Y esto es ilegal. La ley es clara: "No podrá fraccionarse un contrato para eludir obligaciones de publicidad o del procedimiento de adjudicación".</p>
    <h3>Pliegos técnicos</h3>
    <p>Es el documento que especifica y aclara qué tendrá que hacer, suministrar o construir el adjudicatario. Contiene los detalles del contrato y son imprescindibles para conocer qué se está contratanto. Según la ley, deben permitir el acceso en igualdad: "Salvo que lo justifique el objeto del contrato" no pueden mencionar una fabricación o procedencia determinada, marca, patente o tipo. Si la mencionan, tienen que añadir la coletilla "o equivalente".</p>
    <h3>Pliegos administrativos</h3>
    <p>Es el documento que aclara los términos del contrato, algo así como la letra pequeña. Establece garantías, penalizaciones en caso de incumplimiento, responsabilidades de la empresa elegida -por ejemplo, en términos de confidencialidad- y, lo más importante, el criterio de adjudicación, lo que incluye, cuando las haya, las fórmulas para calcular quién es la empresa que será elegida. </p>
    <h3>Garantía provisional</h3>
    <p>Es el porcentaje del valor del contrato que deposita el adjudicatario antes de la formalización. Nunca puede ser superior al 3% y se tiene que justificar por qué se pide. La garantía definitiva, que debe entregar la empresa una vez ha sido elegida, debe ser como mínimo del 5%.</p>
    <h3>Consejo de Ministros</h3>
    <p>¿Y qué pinta el Consejo de Ministros en un glosario? Poco, la verdad. Pero es un buen momento para recordar que es el organismo encargado de autorizar todos los contratos de AGE y Seguridad Social con un valor superior a 12 millones de euros. </p>
    <h3>Contratación centralizada</h3>
    <p>Uno de puntos clave en la propuesta de reformas de la CORA es el fomento de la contratación centralizada, es decir, la compra en bloque dirigida desde el Ministerio de Hacienda y Administraciones Públicas y a la que las CCAA y EELL se pueden adherir. En esa línea, sehan ido añadiendo ámbitos donde se contratará en bloque vía orden ministerial: seguridad privada, limpieza, servicios postales, climatización, vehículos, combustibles y publicidad institucional. Por el momento, se va aplicando de forma progresiva en AGE. Así, por ejemplo, se han formalizado acuerdos marcos de compra de combustibles en turismos y de espacios en medios. </p>
    <h3>Regulación armonizada</h3>
    <p>Son contratos con exigencias de publicidad y concurrencia mas elevadas que el resto. Entran en esta categoría:</p>
    <ul>
      <li>Todos los contratos de colaboración público-privada.</li>
      <li>Contratos de obras de más de 5.186.000 euros. <strong>5.225.000 desde el 1 de enero de 2016</strong>, en aplicación de directiva europea vía <a href="http://boe.es/boe/dias/2015/12/31/pdfs/BOE-A-2015-14343.pdf">BOE</a>.</li>
      <li>Contratos de suministros de más de 134.000 euros (<strong>135.000 desde el 1/1/2016</strong>) si se trata de AGE o Seguridad Social y de más de 207.000 euros (<strong>209.000 desde el 1/1/2016</strong>) para el resto de organismos -incluye CCAA y entidades locales- y algunos contratos de Defensa. </li>
      <li>Contratos de servicios de más de 134.000 euros (<strong>135.000 desde el 1/1/2016</strong>) si se trata de AGE o Seguridad Social y de más de 207.000 euros (<strong>209.000 desde el 1/1/2016</strong>) para el resto de organismos y algunos contratos de Defensa. Pero solo:
        <ul>
          <li>Mantenimiento y reparacion</li>
          <li>Transporte por tierra y aire.</li>
          <li>Telecomunicaciones. </li>
          <li>Servicios financieros (bancarios, inversión).</li>
          <li>Servicios de informática.</li>
          <li>Servicios de I+D.</li>
          <li>Servicios de contabilidad y auditoría.</li>
          <li>Investigación de estudios y encuestas.</li>
          <li>Consultores de dirección. </li>
          <li>Arquitectura e ingeniería.</li>
          <li>Publicidad. </li>
          <li>Limpieza.</li>
          <li>Editoriales e imprenta.</li>
          <li>Alcantarillado y saneamiento.</li>
        </ul>
      </li>
    </ul>
    <p>Y no:</p>
    <ul>
      <li>Hostelería y restaurantes.</li>
      <li>Transporte por ferrocarril y por barco.</li>
      <li>Servicios jurídicos.</li>
      <li>Servicios de RRHH.</li>
      <li>Investigación y seguridad, excepto furgones blindados. </li>
      <li>Educación y FP.</li>
      <li>Servicios sociales y de salud.</li>
      <li>Servicios de esparcimiento, culturales y deportivos.</li>
      <li>Otros. </li>
    </ul>
    <h5>Excepciones generales (las anteriores aplican solo a servicios):</h5>
    <ul>
      <li>Programas para radiodifusión. </li>
      <li>Contratos secretos o reservados. </li>
      <li>Contratos de Defensa dentro del tratado de la UE.</li>
      <li>I+D.</li>
      <li>Explotación de redes de telecomunicaciones.</li>
    </ul>
  </div>
</div>
