<div class="title methodology">
  <h2>Metodología</h2>
</div>

<div class="sharing-right">
  <%= render 'partials/sharing_buttons', title: 'Metodología' %>
</div>

<div class="panel panel-default panel-page">
	<div class="panel-body">
	    <h3 id="equipo">Equipo</h3>

		<p><em>¿Quién cobra la obra?</em> es un proyecto de Civio. Ante todos ustedes, el <strong>equipo</strong>:</p>

		<ul>
		<li><strong>Eva Belmonte</strong>. Periodista. Dirección de proyecto. Investigación periodística, legislación, creación y análisis de la base de datos. </li>
		<li><strong>David Cabo</strong>. Desarrollador. Desarrollo web, extracción, creación y análisis de la base de datos.</li>
		<li><strong>Raúl Díaz Poblete</strong>. Desarrollador. Desarrollo web, diseño de interfaz y visualización de datos.</li>
		<li><strong>Miguel Ángel Gavilanes</strong>. Periodista. Investigación periodística, creación y análisis de la base de datos. </li>
		<li><strong>Javier de Vega</strong>. Periodista. Investigación y comunicación del proyecto.</li>
		<li><strong>Eduardo Sebastián</strong>. Desarrollador. Desarrollo web.</li>
		<li><strong>Amir Campos</strong>. Gestión de proyecto.</li>
		<li><strong>Antonio Guzmán</strong>. Diseñador. Diseño del logo y la imagen gráfica.</li>
		</ul>

		<div style="max-width: 500px; margin: 30px auto;">
        	<img class="img-responsive" src="<%= image_path('doozers.gif')%>" alt="El equipo">
        </div>

		<h5 id="colaboradores">Colaboradores</h5>

		<p>Mucha gente se ha puesto en contacto con nosotros y nos ha proporcionado pistas para mejorar <em>¿Quién cobra la obra?</em> Queremos agradecer especialmente la colaboración de: </p>

		<ul>
		<li><strong>Asier Andrés</strong>. Periodista. Investigación a fondo sobre normativas de contratación españolas.</li>
		<li><strong>Antonio Almansa</strong>. Interventor. Pistas sobre la situación de la contratación.</li>
		<li><strong>Imma Borrás</strong>. Ayuda con la interpretación de la ley.</li>
		<li><strong>Manuel Acevedo</strong>. Búsqueda de información.</li>
		<li><strong>Guillermo Llopis</strong>. Búsqueda de información.</li>
		<li><strong>Carmela Castro</strong>. Ayuda con la interpretación de la ley y su comparativa con otros países.</li>
		</ul>

		<p>Y también la de Fernando Santiago, Michel Bouquet, Lara Calleja... y muchos otros que nos han ofrecido su ayuda de forma desinteresada.  </p>

		<h5 id="agradecimientos">Agradecimientos</h5>

		<p>Por encima de todo, gracias a los <strong>250 co-financiadores</strong> que creyeron en <em>¿Quién cobra la obra?</em> y sin cuyo granito de arena este proyecto no sería posible:
		<blockquote>Jacobo Elosua Tomé, Samanta Villar, Juan López-Valcárcel, Arrikataum, Abel Renuncio, Albert Deulofeu, Diana Mira Navarro, Andrés Boix Palop, Chelo Camoeiras, David San Segundo Bello, François Derbaix, Francisco José Machín Jiménez, Álvaro Fernández Heredia, Juan Elosua, José M. Sirvent, Jesús Alfaro, Julián Valero Torrijos, José L. Díaz Rodríguez, Montse Bonet, Pilar Tomé Rey, Víctor Moya del Barrio, Xavier Codina, Enrique Muñoz Cadenas, Fernando Blat Peris, Javier Rodríguez Albuquerque, Antoni Gutiérrez-Rubí, Berta María Teijeiro Couce, Carlos César Álvarez, David Hidalgo Noguero, Ángel Ambroj Villanueva, Javier Fernández Escribano, Fidel Picos Sánchez, Helena Viladas, María Saturnina Jiménez Andres,  Javier Rubio Rubio, Luis Morales, Arturo Lorenzo García, Lostium Project CB, Marta Serrano Balbuena, Otis B. Driftwood, Olivier Schulbaum, Reyes Montiel Mesa, Santiago Asperilla Mingallón, María José Monsonis Díaz, José María Casanova Crespo, David Rodríguez Souto, David Sanz, M. Inmaculada Borrás, Javier Vidal Postigo, José Manuel Armada, Julio Perales Díaz, Enrique García Cota, Manuel Urueña Pascual, Paco Álvarez, sofia_hn, Alfonso De Paz Urueña, Álvaro De Rujula, Álvaro Moya, Mayo, Frank Belyeu, Daniele Grasso, Manuel Pascual Fuentes, David Hernando Sancha, Eduardo Basanta, Emilio Ordóñez Sancho-Miñano, Gonzalo Durán Díaz, Irene Milleiro, Alberto Olalla Ubierna, Irene de la Torre, Iván Izquierdo Rodríguez, José F. Leal, José Mª Subero, Juan Sardaña, Esther Salido Palm, Lukanor, Mª Luz Naredo Camino, Marta Alonso Fernández, agitprops, Rafael Muñoz Conde, Raúl Díaz Poblete, Raúl Sánchez González, Raúl Gómez, Saya Sauliere, Xusto Rodríguez Río, Xavier Moya Melero, Diego Tabera Moreno, Mar Viciana, Pablo Llobera Serra, Ramón Corominas, Gerard Folch, Nacho Calle, Paula Guisado, Xosé Cuns Traba, Adriana Trapa, Alberto Juez, Alberto Ortiz de Zarate, Amaia Castro, Amaya, Adrià Mercader, Andrés J, Antonio Pérez, Antonio Galindo, anónima, Xosé Ramil, Carlos Álvarez-Iglesias, Carlos López Monllor, Chema kaser, Joaquín Amorós, Francisco M. Pérez, Concha Catalán, d_gil, Daniel García Bernal, Manuel, Pablo Martín Muñoz, Edusoria, Pablo Aragón, Jesús, Yagüe Jordana, Enric Lluelles, Quique Llaudet, Ermitax, Eulalia Claros, Francisco Rejón, Germán Alonso, Jorge Tanarro Colodrón, Guada Ortiz, Alberto Ferreiro, H. Morago, Inés Castejón, Ignacio Mancera Pascual, InfraSVQ, José Iván Bethencourt Rodríguez, TieneKeLLover, Jaime Ferreira Benito, Javier Duero, Javier Moreno Bandera, Javier Mantecón, Jesús, Jesús J. de Felipe, jgbarah, Ignacio Gallego, Jorge Jiménez Almazán, José Ángel Sanz Blanco, José Luis G. Reboiro, juanalglez, Juan F. Moreno, LauraFdez, Lisandro Nembrini, Luis López, Luis A. Alba, majemori, Marta, Miguel Torres Bescós, Miguel Otero, Miguel Cardo, Miguel Ángel Gonzalo, Miguel Prados, Jordi Mon Companys, Nanroig, Benjamín Lasheras, Neofito, Simón Martin, Patricia Godino, Social Visions BCN S.L., Pedro Larrauri Vigo, Piamonte, Miquel Ángel, Rafael Méndez, Rafa García, Roberto González, Roberto Santos, Rubén de la Fuente, Rubo Veiga, Senén Olano, Sergio K., Silvia Martínez Alcalde, Silvia Glez Serrano, Santiago Rouco, talaimendi, Tevira, Sabio Inculto, Juanjo Bazán, Javier Rodríguez Martin, Albert Valiente López, Alicia Lobo, Almudena Gancedo, Anabel Herrera Pastor, Iago, Clemente Sánchez, Darenci, DaniSanti, David Vacas, dsthode, Esther DP, Fernando Franco Aixela, Ferrán Marín, F. Jesús Martín Aguilar, J. Félix Ontañón, Félix Pedrera García, Fran, Francis Ducreux, Isidro José Manzano, Pier Francesco Orsini, Gorka Salaberria Narbarte, Gorka Puente, Greta Navas Zoras, Francisco Javier Guerrero Ramón, Guillermo, Gustavo Gadea, Fernando Abollado Trueba, Héctor González Ripoll, Kiosko.net, Ignacio bcn, Iñaki Serraller, Isidro Merayo Castellano, Jaime Iniesta Alemán, José Manuel Agudín Aguirre, Juan Molina Hernández, José María San Antonio Álvarez, José Antonio Salvatierra, Juan Piqueras Carrasco, Juan Font, Karlos, KaZeta, luisete, Miguel Álvarez, mariag, María de Olano Mata, Mar, Miguel B.U., Mikel Emaldi, obnru, Bruno, Pablo Haro Urquizar, Pep, Pablo Sastre Rodríguez, rapter, Susana Noguero, thorton, Manuel Acevedo, Miguel Nicolás, V. Richard Benjamins, Xavier Vergés, Alejandro Jiménez España, Deli Ke Wang, Elena Curbelo, Jorge Zorraquín Catalán, Rebeca Monje Pérez, Carlos Enrique Marín Bernal, Juan Salazar, Daniel V. López-Trombo e Iván Miguel Ambite.</blockquote>
		</p>

		<h3 id="las-claves">Las claves</h3>

		<h4 id="introduccion">Introducción</h4>

		<p>En <em>¿Quién cobra la obra?</em> <strong>hemos analizado por primera vez todos los contratos de obra pública publicados en el BOE entre 2009 y 2015</strong>. Son <strong>8.058</strong> y suman <strong>38.828 millones de euros</strong>. La clave -y la parte más dura- de todo el proceso ha sido crear la estructura que permitiera tratarlos y compararlos para extraer conclusiones y buscar la primera cifra, inédita hasta ahora: el total por constructora. </p>

		<p>Para llevarla a cabo, hemos realizado <strong>tareas automáticas</strong>, programando determinadas funciones adaptadas a la idiosincracia de los datos que nos íbamos encontrando. En paralelo, hemos tenido que dedicarle mucho tiempo al <strong>trabajo manual</strong>, analizando y limpiando año a año. A medida que los datos se iban complicando -sobre todo con los contratos más antiguos- y la información era menos consistente y, por lo tanto, menos comparable, esta tarea se complicaba. Si quieres detalles sobre todo el proceso, puedes leer nuestra <a href="#metodologia" title="Metodología">metodología pro para muy viciosos</a>.</p>

		<p><strong>Sobrecostes, retrasos...</strong> Si olvidamos por un momento todo lo que hemos sufrido para sacar este proyecto adelante, la ironía tiene gracia: nos han atacado los mismos males que a buena parte de la construcción de obra pública. La mala calidad de los datos sobre contratación nos ha obligado a dedicar muchos más esfuerzos de los planeados -sobre todo en la limpieza y consolidación de la información- y a publicar mucho más tarde de lo prometido. Además, no hemos podido incluir toda la información que nos hubiera gustado. Ha sido muchísimo más difícil de lo que esperábamos, pero hemos hecho todo lo que estaba en nuestras manos por realizar una radiografía de estos años lo más rigurosa y precisa posible. </p>

		<p>Eso sí, la gran cantidad de datos y el aprendizaje obtenidos nos permite abrir nuevos frentes y nuevas investigaciones, que se irán publicando en los próximos meses y con las que esperamos, ahora que ya hemos llegado al fondo de los datos, sacar de ellos todo el jugo periodístico que esconden. Por eso, y sobre todo porque algunos datos que no hemos usado para esta primera fase necesitan un repasillo a fondo, no vamos a publicar todos los datos en formato abierto por el momento. Pero prometemos que lo haremos muy pronto. Mientras, <strong>todos nuestros contenidos son CC BY-SA 3.0</strong>, así que comparte, reutiliza y republica. ¡Y no te olvides de citar!   </p>

		<h4 id="que-contratos-incluye">¿Qué contratos incluye?</h4>

		<p><em>¿Quién cobra la obra?</em> analiza <strong>todos los contratos de obra pública cuya formalización se publicó en el BOE entre el 1 de enero de 2009 y el 31 de diciembre de 2015</strong>. Como un contrato puede tardar un tiempo entre que se adjudica y se publica en el BOE, la base de datos incluye algunos contratos adjudicados en 2008 y, lo que es más sorprendente, dos de 2007 y uno de 2005 (sí, tardaron cuatro años en publicar la formalización en el boletín). Además, las adjudicaciones de 2015 no están cerradas, porque algunas pueden aparecer en boletines de 2016. </p>

		<p>Según la ley, el BOE debe recoger las formalizaciones de:</p>

		<ul>
		<li>Los <strong>contratos de regulación armonizada de cualquier tipo de administración</strong>, esto es, contratos de obra de más de 5.225.000 euros.</li>
		<li>Los <strong>contratos de más de 100.000 euros de la Administración General del Estado</strong>.</li>
		</ul>

		<p>Esto es lo que incluye sí o sí. Pero no es todo. La ley establece que las comunidades autónomas y entidades locales publicarán las formalizaciones de los contratos de obra de más de 100.000 euros en el BOE y/o en los boletines oficiales regionales. Es opcional. Por eso, en algunos casos lo publican en el boletín estatal y, en otros, no. </p>

		<p>Además, esto es el mínimo exigido. Cualquier administración puede publicar en el BOE más allá de lo que le obliga la ley. </p>

		<p>Así, <strong>las grandes obras (más de 5.225.000 euros) de cualquier tipo de administración pública están incluidas en nuestra base de datos, así como una gran parte de contratos de obra de tamaño medio (más de 100.000 euros) de la Administración General del Estado</strong>, junto a otros contratos de todo tipo. </p>

		<p>Hemos incluido todos los contratos que, de forma automática -porque lo aclaraba el propio anuncio- o manual -porque el objeto nos daba pistas-  entendíamos que podíamos clasificar como de obra. <strong>No incluimos ni concesiones ni acuerdos marco</strong>. Los primeros, porque es un tipo de contrato combinado que puede ser difícil de sumar, al incluir cánones u otro tipo de intercambio; los segundos, porque son solo paraguas sobre los que se firman otros contratos, y por lo tanto las cifras solo podían ser, cuando las había, estimadas. </p>

		<h4 id="por-que-el-boe">¿Por qué el BOE?</h4>

		<p>Una de las primeras decisiones que tuvimos que tomar es de dónde sacábamos los datos. Teníamos dos opciones: <a href="https://contrataciondelestado.es/wps/portal/plataforma">Contratación del Estado</a> o el <a href="www.boe.es">BOE</a>. Ha sido uno de los temas clave, puesto que la <strong>dispersión de la información</strong> hace imposible, al menos en este primer acercamiento a la contratación pública, conseguir absolutamente todos los datos.</p>

		<p>Aunque todo apuntaba a que los datos de la plataforma de <strong>Contratación del Estado</strong> estaban bastante mejor estructurados, usarla como fuente creaba un problema importante: <strong>dejábamos fuera los contratos de obra pública de buena parte de los ayuntamientos y las comunidades autónomas</strong>. Aunque la ley establece que todas las administraciones públicas pasarán a publicar sus adjudicaciones en esta plataforma, lo cierto es que la transición no está siendo todo lo rápida que se esperaba. Cuando empezamos a analizar los datos, hace más de un año, la plataforma contaba con todos los ministerios, pero solo con siete comunidades autónomas y 546 ayuntamientos, entre los que no se encontraban las grandes capitales, como Madrid y Barcelona. Era -y es- una fuente parcial. A este problema hay que sumarle otro igual de importante: la web de Contratación del Estado está borrando en bloque los contratos antiguos de forma progresiva. Así, menos alguna excepción, <strong>aquellas que se adjudicaron antes de 2010 ya no están publicadas</strong>.</p>

		<p>El <strong>BOE</strong>, por otro lado, tampoco es perfecto. Además de que a primera vista parecía mucho más complicado estructurar los datos que se publican en el boletín, sobre todo los más antiguos, <strong>no recoge todos los contratos adjudicados</strong>, solo una parte. Eso sí, son, en general, los más cuantiosos. Pero tiene un punto a favor importante: <strong>recoge datos de todo tipo de administraciones públicas</strong>.</p>

		<p>Así, tuvimos que decidir entre abarcar un mayor número y tipo de administraciones públicas, aunque no tuviéramos todos sus contratos; o limitar la investigación a los ministerios y poco más. Y optamos por la primera opción: <strong>aunque no tengamos todos los contratos, sí están los más relevantes y podemos ir más allá de la Administración General del Estado</strong>. No podíamos hablar de obra pública en España y obviar a ayuntamientos y comunidades autónomas. </p>

		<h4 id="por-que-desde-2009">¿Por qué desde 2009?</h4>

		<p>Hemos retrocedido todo lo posible, pero <strong>los datos empeoran según su antigüedad</strong>. En 2008 las adjudicaciones se publicaban como texto plano, sin estructura clara, y el proceso se complicaba. De hecho, la gran mayoría del tiempo y esfuerzo dedicado en limpieza de datos se ha centrado en los datos más antiguos. Si hubiéramos utilizado Contratación del Estado, ni siquiera hubiéramos podido abarcar 2009.</p>

		<h4 id="que-pasa-con-las-ute">¿Qué pasa con las UTE?</h4>

		<p>Ha sido <strong>el quebradero de cabeza más importante</strong> de todo el proyecto. Suponen un peso importantísimo sobre el total (casi el 60% de los contratos se adjudicaron a Uniones Temporales de Empresas) y no podíamos obviarlas, por supuesto, pero tampoco sumarlas al resto de adjudicaciones de un grupo como si se llevara todo el dinero de la adjudicación, cuando en realidad solo le corresponde una parte. Pero, ¿qué parte? No podemos responder a esa pregunta. Primero, porque el documento que incluye los porcentajes de participación de cada empresa en una UTE, el registro que gestiona Hacienda, <a href="/articulos/la-pregunta-del-millon-como-se-reparten-la-tarta-las-ute">no es público</a>. Segundo, porque no existen otras fuentes para acceder a esa información. </p>

		<p>Por eso en algunos de nuestros gráficos y tablas verás que distinguimos entre contratos en solitario -otorgados directamente a una empresa del grupo- y en UTE -otorgados a uniones en las que participa. No queríamos dejar de ofrecer esa información tan relevante, pero nos hemos esforzado también para distinguir ambos tipos, tanto en las visualizaciones como en los artículos: no es lo mismo recibir X euros en adjudicaciones que &quot;estar presente&quot; en adjudicaciones que suman X euros.  </p>

		<ul>
		<li><a href="/articulos/la-pregunta-del-millon-como-se-reparten-la-tarta-las-ute">Más sobre la opacidad de las UTE</a></li>
		</ul>

		<h4 id="con-iva">Con IVA</h4>

		<p>Los precios de adjudicación aparecen en decenas de formatos y modos distintos. Con IVA, sin IVA, los dos, en letra, en número... Para consolidar todos esos datos, decidimos optar por una única opción: todos los precios de adjudicación que mostramos son con IVA. Creemos que es coherente con la norma, que habla de incluir el coste del impuesto en esta cifra -frente al valor estimado, en el que no se incluye- y porque, al fin y al cabo, en general, las administraciones públicas, se revierta o no al final, tienen que pagar IVA. </p>

		<h3 id="metodologia">Metodología</h3>

		<h4 id="analisis-normativo">1. Análisis normativo.</h4>

		<p>Como es tradicional en todos los proyectos de Civio, el trabajo arrancó zambulléndonos en normativas y análisis sobre el asunto a tratar. Ya llevábamos un tiempo estudiando la <a href="https://www.boe.es/buscar/act.php?id=BOE-A-2011-17887">Ley de Contratos del Sector Público</a> para <a href="www.elboenuestrodecadadia.com">El BOE nuestro de cada día</a>, pero necesitábamos ir un paso más allá. Del estudio de la ley, su reglamento, las directivas europeas y el borrador de anteproyecto de ley que preparó el Gobierno de cara a la próxima reforma salieron la <a href="/guia-de-la-ley">guía de la ley</a> y el <a href="/glosario">glosario</a>. Y, más importante aún, <strong>plantamos los cimientos para poder extraer y tratar la información</strong> con conocimiento de causa. </p>

		<p>En paralelo, estudiamos a fondo la <a href="http://www.cnmc.es/Portals/0/Ficheros/Promocion/Guias_y_recomendaciones/GUIA_CONTRATACION_v4.pdf">Guía de la CNMC sobre contratación pública y competencia</a> y, sobre todo, el 
		<a href="http://www.cnmc.es/Portals/0/Notas%20de%20prensa/201502_Informe_ContratacionPublica.pdf">Informe de la CNMC sobre contratación</a>; y el <a href="http://ec.europa.eu/dgs/home-affairs/e-library/documents/policies/organized-crime-and-human-trafficking/corruption/docs/acr_2014_es.pdf">Informe de la Comisión Europea sobre la lucha contra la corrupción en la UE</a>, que tiene un apartado dedicado en exclusiva a la contratación pública. Además, nos encantó y nos ayudó mucho a entender el problema el estudio de <strong>Alejandro Ferrando Gamir</strong>, titulado <a href="(http://www.crcb.eu/wp-content/uploads/2015/02/Gamir_Corruption-in-Spanish-PP_v2_2015Feb.pdf)"><em>Mapping high-level corruption risks in Spanish public procurement</em></a> y realizado en el Corruption Research Center of Budapest. Sin esas bases, habría sido imposible entender todo lo que vendría después. </p>

		<h4 id="fuentes-de-datos">2. Fuentes de datos.</h4>

		<p>Elegir si usábamos el BOE o Contratación del Estado fue clave. Después de analizar qué información tenía cada una de las dos fuentes, decidimos abarcar más tipos de administraciones y nos centramos en el BOE. La información que necesitábamos está en la <strong>publicidad de las formalizaciones de los contratos</strong>, que se publican una vez se ha firmado y que incluyen toda la información que íbamos a necesitar y que compondría la base de datos.</p>

		<h4 id="extrayendo-del-boe">3. Extrayendo del BOE</h4>

		<p>De forma automática, descargamos años y años de BOE. Aprovechamos el hecho de que la contratación pública está en la sección 5A del BOE: pudimos ignorar todos los documentos que no pertenecen a esta subsección. Utilizamos la versión XML de los anuncios del BOE. Tradicionalmente, para otro tipo de investigaciones (como la de <a href="www.elindultometro.es">El Indultómetro</a>), la versión XML no aporta nada especial, porque el cuerpo del anuncio aparece embebido sin más dentro de un nodo del XML, que solo añade unos pocos campos de metadatos, poco relevantes. Pero en el caso de los contratos aparece también la sección de &#39;Análisis&#39;, que sí nos interesa, y es más fácil sacarla de los campos del XML que parsear una tabla del HTML.</p>

		<h4 id="adjudicaciones-formalizaciones-correcciones">4. Adjudicaciones, formalizaciones, correcciones</h4>

		<p>Necesitamos separar las formalizaciones de contratos de obra del resto de anuncios que aparecen en esa sección. Así, descartamos licitaciones, anuncios previos y correcciones -las usaremos más tarde-, y otro tipo de anuncios, como subastas, por ejemplo.</p>

		<p>Algunos anuncios acababan, tras esta separación automática, sin clasificar o clasificados como &#39;otros&#39; por falta de información en el original. Los tuvimos que revisar a mano, para saber a qué categoría pertenecían. Utilizamos filtros de lenguaje tanto en Excel como en Refine, que nos permitieron avanzar de forma más efectiva. Aun así, a veces hubo que echar mano del análisis uno a uno para saber qué tipo de anuncio era y si nos interesaba incluirlo en la base de datos. </p>

		<p>En todos los pasos el proceso era similar: se trataban los datos de forma automática para acercarse al resultado óptimo todo lo posible y, para las erratas o inconsistencias, que eran muchas, se pasaba a una limpieza manual. </p>

		<h4 id="que-es-un-contrato-de-obra">5. ¿Qué es un contrato de obra?</h4>

		<p>Una vez separadas las formalizaciones, necesitábamos saber cuáles eran contratos de obra y cuáles no. Al principio pensábamos que los datos del anuncio dejarían claro si se trata de un contrato de obra. No fue así en todos los casos: en muchos estaban mal clasificados o, simplemente, no estaban clasificados de ninguna forma. Luego pensamos que los CPV -<em>Common Procurement Vocabulary</em>, un sistema común para clasificar los objetos de contratación- nos ayudarían a dividirlos, pero tampoco funcionó: en algunos contratos no se incluyen, o se incluyen algunos que no se pueden clasificar de forma automática como obras. Conclusión: tuvimos que pasar por otra ronda de limpieza automática y manual. </p>

		<p>Dejamos fuera los acuerdos marco y las concesiones de obra, que archivamos en un documento aparte para analizarlos por separado. En cuanto a los contratos mixtos, solo incluímos en el archivo final aquellos en los que el peso de la obra era relevante frente a otro tipo de contrato -servicios o suministros.</p>

		<p>Y de esta forma, al fin, obtuvimos una base de datos de formalizaciones de obra por cada año analizado, sobre la que revisamos errores y pasamos al siguiente punto del proceso: añadir las correcciones de errores, esos anuncios del BOE en el que se enmiendan anuncios anteriores. </p>

		<p>El parser es incapaz de entender a qué anuncio original se refiere una corrección, o qué ha cambiado exactamente. Así que tuvimos que analizarlas a mano para corregir los datos si fuera necesario. Necesitábamos saber qué correcciones no afectaban a los datos -porque simplemente añadían que estaba cofinanciado con Fondos Feder, por ejemplo; o corregían licitaciones- y cuáles sí. A través de filtros por palabras y lecturas filtramos aquellas que sí eran relevantes y, por tanto, que teníamos que usar para corregir las formalizaciones en nuestra base de datos. </p>

		<p>Al final de esta fase conseguimos un documento con los datos que queríamos, ya corregidos. Pero aún faltaba un paso más: la limpieza de las columnas clave. </p>

		<h4 id="columnas-a-tratar">6. Columnas a tratar</h4>

		<p>La sección de &#39;Análisis&#39; no incluye toda la información relevante. Excluye, por ejemplo, una pieza fundamental, el nombre del ganador. Pero tampoco debemos ignorarla completamente, porque añade algún campo potencialmente interesante, como &#39;Ámbito geográfico&#39;. Así, tuvimos que combinar información de esa sección y del texto base del anuncio. </p>

		<p>Para una primera fase, era necesario limpiar y consolidar campos como contratista, importe de adjudicación, procedimiento, tramitación, administración, fecha... Como hasta el momento, limpiamos y consolidamos de forma primero automática y luego, para los errores más resistentes o dudosos, de forma manual. La variedad de formas en las que se puede escribir el nombre de una empresa o, incluso, una cifra, nos sigue asombrando.  </p>

		<p>Para poder dar información por grupo constructor, realizamos unas tablas en las que sacamos las empresas de los grandes grupos y las relacionamos con ellos. Durante todo el proceso, un documento de control de incidencias y seguimiento monitoreaba cada cambio para asegurarnos de que todo estaba controlado.  </p>

		<h4 id="los-lotes">7. Los lotes</h4>

		<p>Para poder tratar los lotes, decidimos duplicar cada contrato en tantas líneas como lotes tuviera. Cada una de ellas contendría el importe de adjudicación de ese lote concreto. Esta es la razón por la que, aunque la base de datos contenga 8.058 contratos, haya bastantes más líneas. Esta, y las UTE, que veremos más adelante.</p>

		<p>La información aparece agrupada sin una estructura clara o predecible, lo que hace que sea difícil extraer la información de cada lote de forma automática, así que tuvimos que hacerlo a mano. También tratamos como lotes algunos casos en los que un ayuntamiento decide usar un mismo anuncio para informar sobre varios contratos.  </p>

		<h4 id="la-fiesta-de-las-ute">8. La fiesta de las UTE</h4>

		<p>Teniendo en cuenta la importancia de las UTE en el total, queríamos saber cómo dividir cada contrato entre las empresas que la forman. Esto es lo más difícil y, por culpa de la falta de datos públicos, lo que nos causó más problemas y más quebraderos de cabeza. </p>

		<p>La <a href="https://www.boe.es/buscar/act.php?id=BOE-A-1982-13818">Ley de UTE de 1982, con sus modificaciones posteriores</a> recuerda que no tienen personalidad jurídica propia y que <strong>se tienen que registrar en Hacienda</strong> para acceder a los beneficios fiscales. Artículo 8: &quot;Las Uniones Temporales de Empresas se formalizarán en <strong>escritura pública</strong>, que expresará el nombre, apellidos, razón social de los otorgantes, su nacionalidad y su domicilio; la voluntad de los otorgantes de constituir la Unión y los estatutos o pactos que han de regir el funcionamiento de la Unión en los que se hará constar: [...] La proporción o método para determinar la participación de las distintas Empresas miembros en la distribución de los resultados o, en su caso, en los ingresos o gastos de la Unión&quot;. Pero <strong>ese registro no es público</strong>. Y, aunque <a href="/articulos/la-pregunta-del-millon-como-se-reparten-la-tarta-las-ute">lo pedimos vía solicitud de información y hasta recurrimos al Consejo de Transparencia, no hubo manera de hacerse con los datos</a>. </p>

		<p>Ante este problema, nos planteamos varias opciones: intentar conseguir solo las UTE de las mayores empresas, solo las de los mayores contratos o solo las de un año, 2015. Lo intentamos con ese plan C y fue un fracaso: buscamos la información en decenas de fuentes y solo encontramos las participaciones en unos pocos casos. Hubo que volver a reconducir el enfoque.</p>

		<p>Al final, decidimos sumar el total de los contratos con UTE, aunque de una forma distinta. Por un lado está el importe adjudicado directamente a una empresa; por otro, el importe en el que está presente vía UTE, aunque no se lo lleve todo. No es perfecto, pero no había otro camino posible. Al menos, por el momento. </p>

		<p>Aunque nos rindiéramos en cuanto a los porcentajes de participación, contábamos con un problema extra: en algunas UTE el nombre no permite separar, ni de forma automática ni manual, qué empresas la forman. Así fue como nació la fiesta de las UTE, una sesión intensa en la que todo el equipo de Civio buscó las empresas que formaban las 77 UTE que no habíamos podido separar ni de forma automática ni mediante fórmulas. De las que no sabíamos ni siquiera qué empresas las formaban. Hubo pizza y cerveza. </p>

		<h4 id="errores-irremediables">9. Errores irremediables</h4>

		<p>En algunos casos, la imposibilidad de obtener la información necesaria para poder afirmar que una empresa se ha llevado una cantidad nos ha obligado a descartar algunos contratos. Pasó con algunos lotes que no podíamos dividir. Además, hemos encontrado, en <a href="http://www.boe.es/diario_boe/txt.php?id=BOE-B-2011-3049">2011</a> y 2010: <a href="https://www.boe.es/boe/dias/2010/10/30/pdfs/BOE-B-2010-37087.pdf">uno</a>, <a href="https://www.boe.es/diario_boe/txt.php?id=BOE-B-2010-18253">dos</a>, <a href="https://www.boe.es/diario_boe/txt.php?id=BOE-B-2010-38710">tres</a>, <a href="https://www.boe.es/diario_boe/txt.php?id=BOE-B-2010-38117">cuatro</a> y otros del mismo estilo, contratos de Endesa e Iberdrola que solo informan de las fechas de adjudicación, pero ni de adjudicatarios ni de precios. Pese a la búsqueda, no hemos hallado información sobre estos contratos, seguramente debido a que ya no son empresas con participación pública y que tenían, ya por entonces, menos obligaciones de publicidad. Así, hemos tenido que excluirlos de la muestra por falta de datos. </p>

		<h4 id="investigaciones">10. Investigaciones</h4>

		<p>Con toda esa información, y sobre todo a través de Refine, Excel y, en algunos casos, de preguntas a la base de datos vía desarrollo, sacamos las primeras conclusiones, que dieron forma a las investigaciones. A los datos, el análisis de las leyes y las entrevistas a expertos del sector añadimos visitas a zonas de obra y conversaciones con vecinos y cargos públicos. Y surgieron los primeros artículos. Los primeros, pero no los últimos. Ahora que hemos abierto el melón, con lo que ha costado, queremos sacarle mucho más jugo.</p>

		<h4 id="la-web">11. La web</h4>

		<p>Para el desarrollo de la aplicación web hemos utilizado <em>PostgresSQL</em>, <em>Ruby on Rails</em> y <em>Boostrap</em>. Las visualizaciones han sido realizadas con <em>D3.js</em>.
		Puedes encontrar el código fuente de la aplicación en nuestro <a href="https://github.com/civio/quiencobralaobra">repositorio en GitHub</a></p>

	 </div>
</div>
