<div class="title contracts">
  <h2>Contratos</h2>
</div>
<%= @awards.count %>

<div class="title articles">
  <h2>Artículos</h2>
</div>
<%= @articles.count %>

<div class="title bidders">
  <h2>Empresas</h2>
</div>
<%= @bidders.count %>

<div class="title public_bodies">
  <h2>Administraciones</h2>
</div>
<%= @public_bodies.count %>