<div class="title law">
  <h2>Guía básica de la Ley de Contratos del Sector Público</h2>
</div>

<div class="row">
  <div class="col-sm-3">
    <%= render "partials/page_the_law_navigation", index: @page_index %>
  </div>

  <div class="col-sm-9">
    <div class="panel panel-default panel-page">
      <div class="panel-body">

        <%= render "partials/page_the_law_navigation_btns", page_prev: @page_prev, page_next: @page_next %>
        
        <h3>Tipos de contratos: por el objeto</h3>
        <p>Dependiendo de lo que se vaya a contratar, se clasifican entre contratos de servicios, de obras, de concesión de obra pública, de suministros, de gestión de servicios públicos, de colaboración entre el sector público y el sector privado. En este proyecto nos hemos centrado en dos tipos:</p>
        <h4>Contrato de concesión de obra pública</h4>
        <p><strong>Dependiendo de lo que se vaya a contratar, se clasifican entre contratos de servicios, de obras, de concesión de obra pública, de suministros, de gestión de servicios públicos, de colaboración entre el sector público y el sector privado. En este proyecto nos hemos centrado en dos tipos</strong>. COPIAR</p>
        <h4>Contrato de obras</h4>
        <p>Existen ciertas reglas especiales que aplican a contratos de obras:</p>
        <ul>
          <li>
            <p>Puede hacerse a tanto alzado -con precios cerrados- o por precios unitarios (por poner un ejemplo bruto: ladrillos). O pueden combinarse ambas fórmulas en las distintas unidades de obra, que son agrupaciones de costes de una obra que se valora bajo la misma unidad de medida. Por ejemplo, si hablamos de metros cuadrados construidos, el precio incluirá la mano de obra y los materiales necesarios. </p>
          </li>
          <li>La ley no permite las <strong>modificaciones</strong> para ampliar la obra inicial, pero sí para cumplir el objetivo estipulado. Por ejemplo, si el constructor está a medio camino y se encuentra un yacimiento y tiene que modificar el trazado, añadiendo más materiales y mano de obra, se deberá ampliar el presupuesto para poder alcanzar el objetivo inicial. Este es un ejemplo legal y que tiene sentido. El problema es que estas modificaciones se han usado en algunas ocasiones para hinchar el precio ofertado, que al ser más bajo que el coste real, es el que a permitido a la empresa hacerse con el contrato frente a otras con presupuestos más realistas. Si la modificación no supone aumentar las unidades de obra, la administración pone el precio y, si a la empresa no le convence, se va y se contrata a otra. Y un punto importante: <strong>se pueden introducir variaciones sin aprobación del órgano de contratación, directamente, cuando no represente un incremento de gasto de más del 10% del presupuesto inicial</strong>. </li>
        </ul>
        <p><strong>¿Y SI EL CONTRATO ES MIXTO?</strong>. Se trata de contratos de varias materias: por ejemplo, contratando las obras de una sala y el suministro de nuevos muebles. En esos casos, se clasifica según la parte que pese más (en euros, claro).</p>

        <%= render "partials/page_the_law_navigation_btns", page_prev: @page_prev, page_next: @page_next %>
        
      </div>
    </div>
  </div>
</div>

