<div class="title law">
  <h2>Guía básica de la Ley de Contratos del Sector Público</h2>
</div>

<div class="row">
  <div class="col-sm-3">
    <%= render "partials/page_the_law_navigation", index: @page_index %>
  </div>

  <div class="col-sm-9">
    <div class="panel panel-default panel-page">
      <div class="panel-body">

        <%= render "partials/page_the_law_navigation_btns", page_prev: @page_prev, page_next: @page_next %>
        
        <h3>¿A quién aplica?</h3>
        <p>A priori, todos los contratos firmados por las administraciones públicas españolas tienen que cumplir, como mínimo, los preceptos que marca esta normativa. Eso sí, hay <strong>excepciones</strong>:</p>
        <ul>
          <li>
            <p>Las primeras son sobre determinado tipo de contratos: la norma excluye los acuerdos internacionales, los contratos de servicios financieros (como la venta de valores) y los servicios y suministros a organismos públicos de investigación estatales y de comunidades autónomas (CCAA). </p>
          </li>
          <li>Las segundas van dirigidas a CCAA y entidades locales (EELL). La gran mayoría de la norma es legislación básica y, por lo tanto, de obligado cumplimiento para todo tipo de entidades públicas, incluso las que han desarrollado sus propias normativas sobre el tema. Eso sí, ciertos puntos de la norma NO aplican a CCAA y EELL. Entre las excepciones.... <strong>EXCEL MIGUEL</strong>
          </li>
        </ul>
        <p>Además, la ley distingue entre lo que considera Administraciones Públicas (AAPP) y lo que no:</p>
        <h4>Lo que la ley considera Administraciones Públicas</h4>
        <ul>
          <li>Administración General del Estado (AGE), administraciones de las CCAA y entidades locales (incluye diputaciones forales).</li>
          <li>Seguridad Social.</li>
          <li>Organismos autónomos. </li>
          <li>Universidades públicas.</li>
          <li>Entidades de derecho público que:
            <ul>
              <li>Tengan funciones de regulación o control sobre un sector.</li>
              <li>Entidades sin ánimo de lucro cuya actividad principal no sea la producción en régimen de mercado. </li>
              <li>Entidades sin ánimo de lucro que efectúen operaciones de distribución de riqueza o renta.</li>
              <li>Aquellas que no se financian mayoritariamente con ingresos de renta. </li>
            </ul>
          </li>
          <li>La norma NO considera AAPP a organismos independientes como Congreso, Senado, CGPJ, TC, Tribunal de Cuentas, Defensor del Pueblo (y entidades análogas en CCAA), parlamentos autonómicos y diputaciones locales, pero les aplica las mismas normas que al resto de los organismos de este apartado como si lo fueran. (Disposición Adicional 1ª bis)</li>
        </ul>
        <h4>Lo que la ley NO considera Administraciones Públicas</h4>
        <ul>
          <li>Entidades públicas empresariales.</li>
          <li>Sociedades mercantiles con capital social público superior al 50%.</li>
          <li>Consorcios.</li>
          <li>Fundaciones con más del 50% de aportación fundacional o patrimonio procedente de fondos públicos.</li>
          <li>Mutuas.</li>
          <li>Resto de entidades de derecho público. </li>
        </ul>
        <h4>¿Por qué es importante esta distinción?</h4>
        <p>Los contratos que celebren las entidades que forman parte del sector público pero no son consideradas AAPP se denominan <strong>contratos privados</strong>. Aunque tienen que cumplir ciertos requisitos para su adjudicación similares a los que aplican a las AAPP -redacción de pliegos, ofertas, cierta publicidad del proceso- sus exisgencias son mucho menores. En este resumen vamos a centrarnos en el proceso, las exigencias y la normativa que aplica a las AAPP. </p>
          
        <%= render "partials/page_the_law_navigation_btns", page_prev: @page_prev, page_next: @page_next %>
          
      </div>
    </div>
  </div>
</div>

