<div class="title law">
  <h2>Guía básica de la Ley de Contratos del Sector Público</h2>
</div>

<div class="row">
  <div class="col-sm-3">
    <%= render "partials/page_the_law_navigation", index: @page_index %>
  </div>

  <div class="col-sm-9">
    <div class="panel panel-default panel-page">
      <div class="panel-body">

        <%= render "partials/page_the_law_navigation_btns", page_prev: @page_prev, page_next: @page_next %>
        
        <h3>Tipos de contrato: por el proceso</h3>
        <p>Tenemos que tener en cuenta dos conceptos: <strong>tramitación</strong> y <strong>procedimiento</strong>.</p>
        <h4>Tramitación urgente vs. ordinaria</h4>
        <p>En la tramitación urgente, los plazos de licitación, adjudicación y formalización se reducen a la mitad. Desde la formalización, además, la empresa tiene que empezar la ejecución del contrato antes de 15 días. Pero no todo se recorta a la mitad: los 15 días previos a la formalización se mantienen y, en regulación armonizada, los plazos de información y presentación de solicitudes también se mantienen. También existe una tramitación de emergencia, para desastres naturales, por ejemplo. </p>
        <h4>Por procedimiento</h4>
        <h5>ABIERTO</h5>
        <p>Se licita de forma abierta y pública y cualquier empresario que pueda contratar con las administraciones y que cumpla los requisitos de solvencia o experiencia establecidos se puede presentar. Debería ser el más habitual. Lo que dice la ley es que "la adjudicación, ordinariamente, tiene que llevarse a cabo por procedimiento abierto o restringido". Pero no se cumple. </p>
        <h5>RESTRINGIDO</h5>
        <p>Se trata de un sistema en el que solo pueden participar los empresarios elegidos por el órgano de contratación, seleccionados por criterios objetivos de solvencia. El número mínimo de empresario que tienen que participar es cinco. "Está prohibida toda negociación de los términos del contratos con los solicitantes a candidatos", recuerda la ley. Porque eso sería un...</p>
        <h5>DIÁLOGO COMPETITIVO</h5>
        <p>Se pueden establecer primas o compensaciones para los participantes, que dialogan sobre la mejor solución a las necesidades de la administración. Normalmente se usa en contratos de colaboración público/privada y en contratos particularmente complejos. </p>
        <h5>CONCURSOS DE PROYECTOS</h5>
        <p>Para arquitectura, urbanismo... Están vinculados a la adjudicación del servicio o se paga a los participantes (hay dos tipos). Si va con jurado: si se elige una cualificación para poder participar, al menos 1/3 del jurado debera contar con ella también. </p>
        <h5>ACUERDOS MARCO</h5>
        <p>Es un tipo de contrato en el que se elige a una o varias empresas para suministrar o realizar un servicio para varias entidades y en varias ocasiones. Una vez se firma, las entidades públicas que formen parte pueden contratar directamente cada vez que lo necesitan con la o las empresas que participen. Se permiten siempre que no sean abusivos ni frenen la competencia. </p>
        <p>REGLAS BÁSICAS:</p>
        <ul>
          <li>Si se firma con varios empresarios, deben ser al menos tres.</li>
          <li>Los contratos dentro del acuerdo marco no necesitan adjudicación. Si son de regulación armonizada, tienen que consultar a los empresarios participantes antes de contratar; si no es de regulación armonizada, se contrata directamente sin trámites previos. </li>
        </ul>
        <p>REGLAS DE PUBLICIDAD:</p>
        <ul>
          <li>Para el acuerdo marco en sí: si es de regulación armonizada, tiene que publicarse en BOE y Diario Oficial de la Unión Europea (DOUE). El resto tienen que publicarse en el perfil del contratante y en BOE (si es AGE) o boletines de las CCAA o boletines provinciales, a elegir. </li>
          <li>Los contratos bajo el acuerdo marco se publicarán "si se estima oportuno".</li>
        </ul>
        <h5>NEGOCIADO</h5>
        <p>Se elige al djudicatario tras consultar con diversos candidatos y negociar las condiciones del contrato con uno o varios de ellos. Es obligatorio solicitar ofertas, al menos, a tres empresas capacitadas, siempre que sea posible. </p>

        <%= render "partials/page_the_law_navigation_btns", page_prev: @page_prev, page_next: @page_next %>
        
      </div>
    </div>
  </div>
</div>

