 <div class="title law">
  <h2>Guía básica de la Ley de Contratos del Sector Público</h2>
</div>

<div class="row law">
  <div class="col-sm-3">
    <%= render "partials/page_the_law_navigation", index: @page_index %>
  </div>

  <div class="col-sm-9">
    <div class="panel panel-default panel-page">
      <div class="panel-body">

        <%= render "partials/page_the_law_navigation_btns", page_prev: @page_prev, page_next: @page_next, position: 'top' %>
        
        <h3>Directivas europeas</h3>
        <p>...</p>

        <%= render "partials/page_the_law_navigation_btns", page_prev: @page_prev, page_next: @page_next, position: 'bottom' %>
        
      </div>
    </div>
  </div>
</div>

