<div class="title law">
  <h2>Guía básica de la Ley de Contratos del Sector Público</h2>
</div>

<div class="row">
  <div class="col-sm-3">
    <%= render "partials/page_the_law_navigation", index: @page_index %>
  </div>

  <div class="col-sm-9">
    <div class="panel panel-default panel-page">
      <div class="panel-body">

        <%= render "partials/page_the_law_navigation_btns", page_prev: @page_prev, page_next: @page_next %>
        
        <p>El <a href="https://www.boe.es/buscar/act.php?id=BOE-A-2011-17887">texto refundido de la Ley de Contratos del Sector Público</a> es <strong>una de las normativas más complejas</strong> y a la vez importantes de las administraciones públicas. Conocerla es esencial para entender cómo funcionan esas contrataciones y, lo que es más importante, para detectar irregularidades. En <em>Quién Cobra la Obra</em> hemos realizado esta guía abierta, que te permitirá entender los puntos clave respecto a <strong>obligaciones de transparencia, control y procedimientos</strong> sin haber sido opositor ni experto en derecho público. No hemos resumido toda la norma, pero sí aquellos puntos que consideramos básicos para entender el funcionamiento del sistema. Incluye las últimas <a href="http://boe.es/boe/dias/2015/12/31/pdfs/BOE-A-2015-14343.pdf">modificaciones</a> al texto legal y tiene la mirada puesta en la gran reforma que llegará cuando se apliquen las <a href="http://www.europarl.europa.eu/meetdocs/2014_2019/documents/imco/dv/classic_pp_/classic_pp_es.pdf">directivas europeas aprobadas en 2014</a>.</p>

        <%= render "partials/page_the_law_navigation_btns", page_prev: @page_prev, page_next: @page_next %>

      </div>
    </div>
  </div>
</div>

