<div class="title law">
  <h2>Guía básica de la Ley de Contratos del Sector Público</h2>
</div>

<div class="row">
  <div class="col-sm-3">
    <%= render "partials/page_the_law_navigation", index: @page_index %>
  </div>

  <div class="col-sm-9">
    <div class="panel panel-default panel-page">
      <div class="panel-body">

        <%= render "partials/page_the_law_navigation_btns", page_prev: @page_prev, page_next: @page_next %>
        
        <h3>¿Cuándo se permite el uso del procedimiento negociado?</h3>
        <p>En la actualidad, este sistema <strong>se puede</strong> usar cuando se cumplan determinados <strong>requisitos por el objeto del contrato o por problemas en su tramitación</strong> o por <strong>criterios de precio</strong>, es decir, por debajo de un umbral de coste está permitido. La directiva europea que España debería aplicar antes de finalizar el mes de abril impone la supresión de los supuestos de precio. Pero, por el momento, y a la espera de su aplicación, estos son los supuestos en los que se permite el uso del procedimiento negociado: </p>
        <ol>
          <li>Si falla el concurso abierto porque los empresarios no estaban capacitados o presentaron ofertas anormales.</li>
          <li>Si falla el concurso abierto porque no se presenta nadie. </li>
          <li>En casos excepcionales en los que las características o riesgos no permiten determinar previamente el precio final. </li>
          <li>Por razones técnicas o artísticas o de protección de derechos en exclusiva que hagan que solo pueda encomendarse a un empresario. </li>
          <li>Por imperiosa urgencia no imputable al organismo (si te retrasas porque se te olvidó poner en marcha el contrato a tiempo, no vale) y cuando no baste con utilizar la tramitación urgente. </li>
          <li>Para contratos secretos o reservados.</li>
          <li>En contratos sobre seguridad y acuerdos de armas vinculados al tratado de la UE.</li>
        </ol>
        <blockquote>
          <p>En contratos de obras:</p>
        </blockquote>
        <ol>
          <li>Si el valor es menor a un millón de euros (en cualquier caso).</li>
          <li>Únicamente con fines de investigación. </li>
          <li>Ampliaciones que no estén en el proyecto inicial pero sean necesarias y a la misma empresa, pero que no se pudieran prever y que no suponga mas del 50% inivial. </li>
          <li>Repetición de obras similares adjudicadas. Se permite con un máximo de tres años desde el primer contrato y tiene que existir esa posibilidad en el contrato inicial. </li>
        </ol>
        <blockquote>
          <p>En gestión de servicios públicos:</p>
        </blockquote>
        <ol>
          <li>Con un valor menor de 500.000 y de menos de 5 años de duración.</li>
          <li>La prestación de asistencia sanitaria concertada bajo convenio o acuerdo marco. </li>
        </ol>
        <blockquote>
          <p>En suministros</p>
        </blockquote>
        <ol>
          <li>De menos de 100.000 euros, en todo caso. Ese es el límite que se aplica también para contratos de <strong>servicios y otros</strong>.</li>
          <li>Adquisición de bienes muebles del Patrimonio Histórico Español.</li>
          <li>Esclusivamente con fines de investigación.</li>
          <li>Reposición o ampliación con un mismo empresario si cambiar de proveedor supone un problema grave.</li>
          <li>Concertado por cese de actividad o concurso procesal, lo que hace que el precio sea muy ventajoso. </li>
        </ol>
        <p>Además de la división entre tipos de contratos por procesos de adjudicación, los negociados pueden ser con o sin publicidad.</p>
        <h4>Son <strong>con publicidad</strong>:</h4>
        <ul>
          <li>Por precio: los de más de 200.000 en obras y 600.000 en el resto</li>
          <li>El punto 1 y 3 de las condiciones generales de arriba (si falla el concurso abierto porque se presentan ofertas que no cumplen o en casos excepcionales en los que no se pueda aclarar el precio) y el punto 2 en obras (con fines de investigación). </li>
        </ul>
        <p>El resto son <strong>negociados sin publicidad</strong>
        </p>

        <%= render "partials/page_the_law_navigation_btns", page_prev: @page_prev, page_next: @page_next %>

      </div>
    </div>
  </div>
</div>

