<div class="title law">
  <h2>Guía básica de la Ley de Contratos del Sector Público</h2>
</div>

<div class="row law">
  <div class="col-sm-3">
    <%= render "partials/page_the_law_navigation", index: @page_index %>
  </div>

  <div class="col-sm-9">
    <div class="panel panel-default panel-page">
      <div class="panel-body">

        <%= render "partials/page_the_law_navigation_btns", page_prev: @page_prev, page_next: @page_next, position: 'top' %>
        
        <h3>Obligaciones de publicidad</h3>
        <p>Veamos a qué están obligados y dónde lo tienen que publicar:</p>
        <h4>Anuncio previo</h4>
        <p>ES <strong>optativo</strong>. Se puede publicar (si quieren) antes del anuncio de licitación. Pero, ¿para qué? Normalmente se usa en contratos complejos y permite acortar los plazos en las siguientes fases del contrato, porque los licitadores ya tienen información. </p>
        <h4>Licitaciones</h4>
        <ul>
          <li>Contratos de regulación armonizada: siempre en BOE + DOUE.</li>
          <li>Concursos abiertos: BOE si es estatal, boletines autonómicos o provinciales si es regional (a elegir).</li>
          <li>Negociados con publicidad: igual que en abiertos. (recuerda: son los negociados en los casos en los que si se presentan empresarios carentes de aptitud en concurso abierto, por casos excepcionales en los que no se puede valorar el importe total, en obras con fines de investigación, contratos de servicios con prestación que no permita establecer las condiciones con precisión y mayores de 200.000 en obras y de 60.000 en el resto).</li>
          <li>Negociados sin publicidad: si publican algo, en el perfil del contratante, pero no están obligados.</li>
        </ul>
        <h4>Presentación de ofertas</h4>
        <p>"Las proposiciones son secretas" (artículo 145.2). Siempre. Eso sí, en las actas de adjudicación finales en ocasiones podemos saber cómo se han valorado las ofertas y, si el único criterio es el precio, quizás sepamos qué ofrecieron o, a tenor de las puntuaciones, quién ofreció el precio más alto y quién el más bajo.</p>
        <h4>Adjudicación</h4>
        <p>Se publica en el perfil del contratante y se notifica a los interesados. Esa notificación, que <strong>no es pública</strong>, debe incluir: quién gana, cuál era su propuesta y por qué el resto no gana o le han excluido del proceso. Esta información se da a las empresas que hayan participado con una excepción: si perjudica a los intereses comerciales o a la competencia leal. </p>
        <h4>Formalización</h4>
        <ul>
          <li>Siempre que no sea contrato menor: a perfil del contratante.</li>
          <li>Regulación armonizada: BOE + DOUE siempre. </li>
          <li>Si el valor es superior a los 100.000 euros (o más de 100.000 euros al año o más de cinco años en contratos de gestión de servicios públicos): BOE y/o boletines oficiales CCAA y provinciales (a elegir). Aunque hay una excepción pequeña: el órgano de contratación podrá no publicar determinada información, preguntando a la UE si es necesario, en contratos menores de 193.000 euros de hostelería, transporte, servicios jurídicos, educación, servicios sociales y esparcimiento. </li>
        </ul>

        <%= render "partials/page_the_law_navigation_btns", page_prev: @page_prev, page_next: @page_next, position: 'bottom' %>

      </div>
    </div>
  </div>
</div>

