<div class="title law">
  <h2>Guía básica de la Ley de Contratos del Sector Público</h2>
</div>

<div class="sharing-right">
  <%= render 'partials/sharing_buttons', title: 'Guía básica de la Ley de Contratos del Sector Público' %>
</div>


<div class="row law">

  <div class="col-md-8 col-lg-9">
    <div class="panel panel-default panel-page">
      <div class="panel-body">

        <p>El <a href="https://www.boe.es/buscar/act.php?id=BOE-A-2011-17887">texto refundido de la Ley de Contratos del Sector Público</a> es <strong>una de las normativas más complejas</strong> y a la vez más importantes de las administraciones públicas. Conocerla es esencial para entender cómo funcionan esas contrataciones y, lo que es más importante, para detectar irregularidades. El objetivo de esta guía abierta es que puedas entender los puntos clave respecto a <strong>obligaciones de transparencia, control y procedimientos</strong> sin haber sido opositor ni experto en derecho público. No hemos resumido toda la norma, pero sí aquellos puntos que consideramos básicos para entender el funcionamiento del sistema. Incluye las últimas <a href="http://boe.es/boe/dias/2015/12/31/pdfs/BOE-A-2015-14343.pdf">modificaciones</a> al texto legal y tiene la mirada puesta en la gran reforma que llegará cuando se apliquen las <a href="http://www.europarl.europa.eu/meetdocs/2014_2019/documents/imco/dv/classic_pp_/classic_pp_es.pdf">directivas europeas aprobadas en 2014</a>. </p>

        <h3 id="a-quien-aplica">¿A quién aplica?</h3>

        <p>A priori, todos los contratos firmados por las administraciones públicas españolas tienen que cumplir, como mínimo, los preceptos que marca esta normativa. Eso sí, hay <strong>excepciones</strong>:</p>
        <ul>
        <li><p>Las primeras son sobre determinado tipo de contratos: la norma excluye los acuerdos internacionales, los contratos de servicios financieros (como la venta de valores) y los servicios y suministros a organismos públicos de investigación estatales y de comunidades autónomas (CCAA). </p></li>
        <li><p>Las segundas van dirigidas a CCAA y entidades locales (EELL). La gran mayoría de la norma es legislación básica y, por lo tanto, de obligado cumplimiento para todo tipo de entidades públicas, incluso las que han desarrollado sus propias normativas sobre el tema. Eso sí, ciertos puntos de la norma NO aplican a CCAA y EELL y sus organismos dependientes: por ejemplo, estas entidades no están obligadas a respetar alguna de las prohibiciones a contratar estipuladas en esta ley, ciertos plazos durante el proceso y el veto a arrancar la ejecución sin haber firmado la formalización previa. </p></li>
        </ul>
        <p>Además, la ley se aplica de forma distinta en las distintas entidades que forman el sector público. La primera división se encuentra entre lo que considera <strong>poder adjudicador</strong> y lo que no. No lo son, y por tanto tienen unas exigencias mínimas a la hora de contratar, ya que apenas les afecta esta norma, aquellas entidades que, aunque cuenten con capital público, tengan un fin comercial, como Loterías y Apuestas del Estado o las compañías con capital del SEPI, por ejemplo. Sí lo son todas las entidades públicas que se dediquen a funciones consideradas de &quot;interés general&quot;. Y por lo tanto, les aplica, en menor o en mayor medida según otros criterios -como veremos a continuación- la LCSP.</p>
        <p>Esta división no se entiende ni se aplica de la misma forma en todo el sector público. La Abogacía del Estado ha tenido que emitir varias <a href="http://www.mjusticia.gob.es/cs/Satellite/Portal/1292338910305?blobheader=application%2Fpdf&amp;blobheadername1=Content-Disposition&amp;blobheadervalue1=attachment%3B+filename%3DInstruccion_n_1_2008__de_5_de_febrero.PDF">resoluciones</a> en los últimos años aclarando quién pertenece a cada categoría, e incluso el Tribunal de Cuentas realizó a finales de 2012 un informe para determinar si las empresas públicas dependientes del gobierno central sabían a qué categoría pertenecían. Este <a href="http://www.tcu.es/repositorio/8832d35a-efe0-4d02-8746-0063f51192e5/I1028.pdf">informe</a>, publicado en 2014, concluyó que de las 133 sociedades públicas activas en ese momento, 39 se consideraban a si mismas sector público que no es poder adjudicador, pero objetivamente debían categorizarse como poder adjudicador que no es administración pública y por tanto no estaban cumpliendo la LCSP. </p>
        <p>El problema ha residido en que muchas empresas públicas que están constituidas como sociedades anónimas consideran que su actividad es mercantil y, por tanto, se incluyen automáticamente en la categoría menos estricta.  Sin embargo, para la ley el criterio principal para categorizar no es la forma, sino el propósito de la empresa. La Región de Murcia, por ejemplo, le dio a su sistema de salud público forma de sociedad anónima. El Servicio Murciano de Salud es una empresa pública, que evidentemente presta un servicio de interés social. Sin embargo, el gobierno murciano la consideraba sector público que no es poder adjudicador solo porque es una sociedad anónima. El Tribunal de Cuentas <a href="http://www.tcu.es/tribunal-de-cuentas/.content/EnlacesBuscador/I1081">se tuvo que pronunciar</a> para sacar a Murcia de su error. </p>
        <p>Así, ya podemos distinguir entre las que son poder adjudicador y las que no. Pero aquí no acaban las divisiones. Dentro de los poderes adjudicadores, la norma hace una distinción más: las entidades que considera Administraciones Públicas (AAPP) y las que no:</p>
        <h4>Lo que la ley considera Administraciones Públicas</h4>
        <ul>
          <li>Administración General del Estado (AGE), administraciones de las CCAA y entidades locales (incluye diputaciones forales).</li>
          <li>Seguridad Social.</li>
          <li>Organismos autónomos, como las Confederaciones Hidrográficas. </li>
          <li>Universidades públicas.</li>
          <li>Entidades de derecho público que:
            <ul>
              <li>Tengan funciones de regulación o control sobre un sector. Como por ejemplo, la CNMC. </li>
              <li>Entidades sin ánimo de lucro cuya actividad principal no sea la producción en régimen de mercado. </li>
              <li>Entidades sin ánimo de lucro que efectúen operaciones de distribución de riqueza o renta.</li>
              <li>Aquellas que no se financian mayoritariamente con ingresos de renta. </li>
            </ul>
          </li>
          <li>La norma NO considera AAPP a organismos independientes como Congreso, Senado, CGPJ, TC, Tribunal de Cuentas, Defensor del Pueblo (y entidades análogas en CCAA), parlamentos autonómicos y diputaciones locales, pero les aplica las mismas normas que al resto de los organismos de este apartado como si lo fueran. (Disposición Adicional 1ª bis)</li>
        </ul>
        <h4>Lo que la ley NO considera Administraciones Públicas</h4>
        <ul>
          <li>Entidades públicas empresariales, como Renfe.</li>
          <li>Sociedades mercantiles con capital social público superior al 50%, como la Agencia Efe o Paradores Nacionales.</li>
          <li>Consorcios.</li>
          <li>Fundaciones con más del 50% de aportación fundacional o patrimonio procedente de fondos públicos, como la Fundación para la Prevención de Riesgos Laborales.</li>
          <li>Mutuas.</li>
          <li>Resto de entidades de derecho público. </li>
        </ul>
        <h4>¿Por qué es importante esta distinción?</h4>
        <p>Los contratos que celebren las entidades que forman parte del sector público pero no son consideradas AAPP se denominan <strong>contratos privados</strong>. Aunque tienen que cumplir ciertos requisitos para su adjudicación similares a los que aplican a las AAPP -redacción de pliegos, ofertas, cierta publicidad del proceso- sus exigencias son mucho menores. En este resumen vamos a centrarnos en el proceso, las exigencias y la normativa que aplica a lo que la ley sí considera AAPP. </p>

        <h3 id="tipos-de-contratos-por-el-objeto">Tipos de contratos: por el objeto</h3>

        <p>Dependiendo de lo que se vaya a contratar, se clasifican entre contratos de servicios, de obras, de concesión de obra pública, de suministros, de gestión de servicios públicos, de colaboración entre el sector público y el sector privado. En este proyecto nos hemos centrado en dos tipos:</p>
        <h4>Contrato de obras</h4>
        <p>Existen ciertas reglas especiales que aplican a los contratos de obras:</p>
        <ul>
        <li><p>Puede hacerse a tanto alzado -con precios cerrados- o por precios unitarios (por poner un ejemplo bruto: ladrillos). O pueden combinarse ambas fórmulas en las distintas unidades de obra, que son agrupaciones de costes de una obra que se valora bajo la misma unidad de medida. Por ejemplo, si hablamos de metros cuadrados construidos, el precio de esas unidades de obra incluirá la mano de obra y los materiales necesarios.  </p></li>
        <li><p>Existen dos tipos de posibles modificaciones. Las primeras son aquellas que están previstas en el contrato inicial, que deben cuantificarse y suman a la hora de fijar el valor estimado del contrato. En el caso de que no estén previstas, la cosa se complica: la ley no permite <strong>modificaciones</strong> para ampliar la obra inicial, pero sí para cumplir el objetivo estipulado desde un principio. Por ejemplo, si el constructor está a medio camino y se encuentra un yacimiento y tiene que modificar el trazado, añadiendo más materiales y mano de obra, se deberá ampliar el presupuesto para poder alcanzar el objetivo inicial. Este es un ejemplo legal y que tiene sentido. El problema es que estas modificaciones se han usado en algunas ocasiones para hinchar el precio ofertado, que al ser más bajo que el coste real, es el que ha permitido a la empresa hacerse con el contrato frente a otras con presupuestos más realistas. Si la modificación no supone aumentar las unidades de obra, la administración pone el precio y, si a la empresa no le convence, se va y se contrata a otra. Y un punto importante: <strong>se pueden introducir variaciones sin aprobación del órgano de contratación, directamente, cuando no represente un incremento de gasto de más del 10% del presupuesto inicial</strong>. </p></li>
        </ul>
        <h4>Contrato de concesión de obra pública</h4>
        <p>Se trata de un contrato muy similar al de obras, pero en el que la contraprestación no es una cuantía económica simple, sino que la empresa adjudicataria realiza la obra a cambio del derecho de explotación durante cierto tiempo y/o del cobro de un canon -normalmente anual. Sería el caso, por ejemplo, del contrato de construcción y puesta en marcha de un hospital. La empresa se encarga de levantarlo, adquirir el equipamiento necesario y permitir que los servicios médicos trabajen en las condiciones necesarias. A cambio, además de recibir un canon anual si así está establecido, puede explotar comercialamente, por ejemplo, los locales o restaurantes que se encuentren dentro del recinto hospitalario. </p>
        <p>A este tipo de contratos le aplican unas reglas especiales:</p>
        <ul>
        <li>La construcción puede ser total o parcial -la administración se encarga, por ejemplo, de una parte. </li>
        <li>DERECHOS DEL CONCESIONARIO:
        <ul>
        <li>Explotar la concesión y recibir el canon durante el tiempo de duración del contrato.</li>
        <li>Mantener lo que la ley denomina <strong>&quot;equilibrio económico&quot;</strong>, que significa que las condiciones que hacen que para la empresa sea rentable se deben mantener durante su duración, a menos que se interpongan razones de interés público o de fuerza mayor. Además, la norma permite a la administración otorgar subvenciones al concesionario.</li>
        </ul></li>
        <li>DEBERES DEL CONCESIONARIO:
        <ul>
        <li>Admitir el uso del servicio por parte de cualquier ciudadano. </li>
        <li>Cuidar del buen orden y de la calidad de la obra y del servicio. Y eso, ¿qué significa? La clave para responder a esta pregunta está en los pliegos, que marcan los criterios de evaluación y las posibles sanciones. En concreto, lo que dice la ley es que &quot;la administración podrá incluir en los pliegos mecanismos para medir la calidad del servicio ofrecida por el concesionario, y otorgar ventajas o penalizaciones económicas a éste en función de los mismos&quot;.</li>
        </ul></li>
        <li>Si el empresario no puede hacer frente a sus deberes o incumple de forma grave sus obligaciones, la administración puede proceder al secuestro de la concesión, y explotarla directamente por un plazo máximo de tres años. Esta norma no se encuentra dentro de la legislación básica, por lo que no afecta a CCAA y EELL.</li>
        <li>Las multas máximas establecidas por la ley son del 10% del presupuesto de la obra en la fase de construcción y del 20% de los ingresos en la fase de explotación. </li>
        <li>La duración de las concesiones está marcada en los pliegos, pero no puede superar los 40 años. Solo podrán ser prorrogadas para mantener el equilibrio financiero.<br></li>
        </ul>
        <p><strong>¿Y SI EL CONTRATO ES MIXTO?</strong>. Se trata de contratos de varias materias: por ejemplo, contratando las obras de una sala y el suministro de nuevos muebles. En esos casos, se clasifica según la parte que pese más (en euros, claro).</p>

        <h3 id="tipos-de-contratos-por-el-proceso">Tipos de contrato: por el proceso</h3>

        <p>Tenemos que tener en cuenta dos conceptos: <strong>tramitación</strong> y <strong>procedimiento</strong>.</p>
        <h4>Tramitación urgente vs. ordinaria</h4>
        <p>En la tramitación urgente, los plazos de licitación, adjudicación y formalización se reducen a la mitad. Desde la formalización, además, la empresa tiene que empezar la ejecución del contrato antes de 15 días. Pero no todo se recorta a la mitad: los 15 días previos a la formalización se mantienen y, en regulación armonizada, los plazos de información y presentación de solicitudes también se mantienen. También existe una tramitación de emergencia, en caso de desastres natural, por ejemplo. </p>
        <h4>Por procedimiento</h4>
        <p>Los más habituales son los abiertos y los negociados, pero hay más tipos. </p>
        <h5>ABIERTO</h5>
        <p>Se licita de forma abierta y pública y cualquier empresario que pueda contratar con las administraciones y que cumpla los requisitos de solvencia o experiencia establecidos se puede presentar. Debería ser el más habitual. Lo que dice la ley es que &quot;la adjudicación, ordinariamente, tiene que llevarse a cabo por procedimiento abierto o restringido&quot;. Pero <a href="http://quiencobralaobra.es/el-60%25-de-los-contratos-de-los-ministerios-en-2014-se-adjudicaron-sin-concurso/">no se cumple</a>. </p>
        <h5>DIÁLOGO COMPETITIVO</h5>
        <p>Se pueden establecer primas o compensaciones para los participantes, que dialogan sobre la mejor solución a las necesidades de la administración. Normalmente se usa en contratos de colaboración público/privada y en adjudicaciones particularmente complejas. </p>
        <h5>CONCURSOS DE PROYECTOS</h5>
        <p>Para arquitectura, urbanismo... Están vinculados a la adjudicación del servicio o se paga directamente a los participantes (hay dos tipos). Si funciona con jurado: si se elige una cualificación para poder participar, al menos 1/3 del jurado debera contar con ella también. </p>
        <h5>ACUERDOS MARCO</h5>
        <p>Es un tipo de contrato en el que se elige a una o varias empresas para suministrar o realizar un servicio para varias entidades y en varias ocasiones. Una vez se firma, las entidades públicas que formen parte pueden contratar directamente cada vez que lo necesitan con la o las empresas que participen. Se permiten siempre que no sean abusivos ni frenen la competencia. </p>
        <p>REGLAS BÁSICAS:</p>
        <ul>
        <li>Si se firma con varios empresarios, deben ser al menos tres.</li>
        <li>Los contratos dentro del acuerdo marco no necesitan adjudicación. Si son de regulación armonizada, tienen que consultar a los empresarios participantes antes de contratar; si no es de regulación armonizada, se contrata directamente sin trámites previos. </li>
        </ul>
        <p>REGLAS DE PUBLICIDAD:</p>
        <ul>
        <li>Para el acuerdo marco en sí: si es de regulación armonizada, tiene que publicarse en BOE y Diario Oficial de la Unión Europea (DOUE). El resto tienen que publicarse en el perfil del contratante y en BOE (si es AGE) o boletines de las CCAA o boletines provinciales, a elegir. </li>
        <li>Los contratos bajo el acuerdo marco se publicarán &quot;si se estima oportuno&quot;.</li>
        </ul>
        <h5>RESTRINGIDO</h5>
        <p>Se trata de un sistema en el que solo pueden participar los empresarios elegidos por el órgano de contratación, seleccionados por criterios objetivos de solvencia. El número mínimo de empresarios que tienen que participar es cinco. &quot;Está prohibida toda negociación de los términos del contrato con los solicitantes a candidatos&quot;, recuerda la ley. Porque eso sería un...</p>
        <h5>NEGOCIADO</h5>
        <p>Se elige al djudicatario tras consultar con diversos candidatos y negociar las condiciones del contrato con uno o varios de ellos. Es obligatorio solicitar ofertas, al menos, a tres empresas capacitadas, siempre que sea posible. </p>

        <h3 id="cuando-se-permite-el-procedimiento-negociado">¿Cuándo se permite el uso del procedimiento negociado?</h3>

        <p>En la actualidad, este sistema <strong>se puede</strong> usar cuando se cumplan determinados <strong>requisitos por el objeto del contrato, por problemas en su tramitación</strong> o por <strong>criterios de precio</strong>; es decir: por debajo de un umbral de coste está permitido. La directiva europea que España debería aplicar antes de finalizar el mes de abril de 2016 impone la supresión de los supuestos de precio. Pero, por el momento, y a la espera de su aplicación, estos son los supuestos en los que, ahora mismo, se permite el uso del procedimiento negociado: </p>
        <ol>
        <li>Si falla el concurso abierto porque los empresarios no estaban capacitados o presentaron ofertas anormales.</li>
        <li>Si falla el concurso abierto porque no se presenta nadie. </li>
        <li>En casos excepcionales en los que las características o riesgos no permiten determinar previamente el precio final. </li>
        <li>Por razones técnicas o artísticas o de protección de derechos en exclusiva que hagan que solo pueda encomendarse a un empresario. </li>
        <li>Por imperiosa urgencia no imputable al organismo (si te retrasas porque se te olvidó poner en marcha el contrato a tiempo, no vale) y cuando no baste con utilizar la tramitación urgente.<br></li>
        <li>Para contratos secretos o reservados.</li>
        <li>En contratos sobre seguridad y acuerdos de armas vinculados al tratado de la UE.</li>
        </ol>
        <blockquote>
        <p>En contratos de obras:</p>
        </blockquote>
        <ol>
        <li>Si el valor es menor a un millón de euros (en cualquier caso).</li>
        <li>Únicamente con fines de investigación. </li>
        <li>Ampliaciones que no estén en el proyecto inicial pero sean necesarias y a la misma empresa, pero que no se pudieran prever y que no suponga mas del 50% inicial. </li>
        <li>Repetición de obras similares adjudicadas. Se permite con un máximo de tres años desde el primer contrato y tiene que existir esa posibilidad de forma explícita en el contrato inicial. </li>
        </ol>
        <blockquote>
        <p>En gestión de servicios públicos:</p>
        </blockquote>
        <ol>
        <li>Con un valor menor de 500.000 euros y de menos de 5 años de duración.</li>
        <li>La prestación de asistencia sanitaria concertada bajo convenio o acuerdo marco. </li>
        </ol>
        <blockquote>
        <p>En suministros</p>
        </blockquote>
        <ol>
        <li>De menos de 100.000 euros, en todo caso. Ese es el límite que se aplica también para contratos de <strong>servicios y otros</strong>.</li>
        <li>Adquisición de bienes muebles del Patrimonio Histórico Español.</li>
        <li>Esclusivamente con fines de investigación.</li>
        <li>Reposición o ampliación con un mismo empresario si cambiar de proveedor supone un problema grave.</li>
        <li>Concertado por cese de actividad o concurso procesal, lo que hace que el precio sea muy ventajoso. </li>
        </ol>
        <p>Además de la división entre tipos de contratos por procesos de adjudicación, los negociados pueden ser con o sin publicidad.</p>
        <h4>Son <strong>con publicidad</strong>:</h4>
        <ul>
        <li>Por precio: los de más de 200.000 en obras y 60.000 en el resto</li>
        <li>El punto 1 y 3 de las condiciones generales de arriba (si falla el concurso abierto porque se presentan ofertas que no cumplen o en casos excepcionales en los que no se pueda aclarar el precio) y el punto 2 en obras (con fines de investigación). </li>
        </ul>
        <p>El resto son <strong>negociados sin publicidad</strong></p>

        <h3 id="obligaciones-de-publicidad">Obligaciones de publicidad</h3>

        <p>Veamos a qué están obligados y dónde lo tienen que publicar:</p>
        <h4>Anuncio previo</h4>
        <p>Es <strong>optativo</strong>. Se puede publicar (si quieren) antes del anuncio de licitación. Pero, ¿para qué? Normalmente se usa en contratos complejos y permite acortar los plazos en las siguientes fases del contrato, porque los licitadores ya tienen información. </p>
        <h4>Licitaciones</h4>
        <ul>
        <li>Contratos de regulación armonizada: siempre en BOE + DOUE.</li>
        <li>Resto de contratos por concurso abierto: BOE si es estatal, boletines autonómicos, provinciales o BOE si es regional (a elegir).</li>
        <li>Negociados con publicidad: igual que en abiertos. (recuerda: son los negociados en los casos en los que si se presentan empresarios carentes de aptitud en concurso abierto, por casos excepcionales en los que no se puede valorar el importe total, en obras con fines de investigación, contratos de servicios con prestación que no permita establecer las condiciones con precisión y mayores de 200.000 en obras y de 60.000 en el resto).</li>
        <li>Negociados sin publicidad: si se publica algo, se hace en el perfil del contratante, pero no están obligados.</li>
        </ul>
        <h4>Presentación de ofertas</h4>
        <p>&quot;Las proposiciones son secretas&quot; (artículo 145.2). Es así hasta que la mesa de contratación las abre. A partir de entonces, excepto si hay partes declaradas confidenciales, el resto de licitadores pueden conocer todas las proposiciones. Pero no son públicas para el resto de ciudadanos. Eso sí, en las actas de adjudicación finales, en ocasiones, podemos saber cómo se han valorado las ofertas y, si el único criterio es el precio, quizás sepamos qué ofrecieron o, a tenor de las puntuaciones, quién ofreció el precio más alto y quién el más bajo. Pero son casos aislados.</p>
        <h4>Adjudicación</h4>
        <p>Se publica en el perfil del contratante y se notifica a los interesados. Esa notificación a los participantes, que <strong>no es pública</strong>, debe incluir: quién gana, cuál era su propuesta y por qué el resto no gana o le han excluido del proceso. Esta información se da a todas las empresas que hayan participado con una excepción: si perjudica a los intereses comerciales o a la competencia leal. </p>
        <h4>Formalización</h4>
        <ul>
        <li>Siempre que no sea contrato menor: en perfil del contratante.</li>
        <li>Regulación armonizada: BOE + DOUE siempre. </li>
        <li>Si el valor es superior a los 100.000 euros (o más de 100.000 euros al año o más de cinco años en contratos de gestión de servicios públicos): en BOE y/o boletines oficiales CCAA y provinciales (a elegir). Aunque hay una excepción pequeña: el órgano de contratación podrá no publicar determinada información, preguntando a la UE si es necesario, en contratos menores de 193.000 euros de hostelería, transporte, servicios jurídicos, educación, servicios sociales y esparcimiento.</li>
        </ul>
        <p>Por eso podemos estar seguros, si cumplen la ley, que <strong>todas las formalizaciones de concursos de regulación armonizada de cualquier AAPP están en el BOE</strong>. </p>

        <h3 id="prohibiciones-para-contratar-con-las-aapp">Prohibiciones para contratar con las AAPP</h3>

        <ul>
        <li>Solo pueden ser adjudicatarias las empresas que tengan en sus fines (estatutos o reglas fundacionales) el objeto o ámbito de actividad.</li>
        <li>No pueden concurrir empresas que participen en la elaboración de las especificaciones técnicas o documentos preparatorios &quot;siempre que pueda provocar restrucciones a la libre competencia o suponer trato privilegiado&quot;.</li>
        <li>Están vetadas las empresas sancionadas por infracción grave en: disciplina de mercado, integración laboral y no discriminación de discapacitados; o muy grave en: materia social (prevención de riesgos laborales, por ejemplo) o medioambiental. </li>
        <li>Prohibido también para empresas en concurso voluntario, insolventes o sometidas a intervención judicial.</li>
        <li>Tienen que hallarse al corriente en el cumplimiento de sus obligaciones tributarias y con la Seguridad Social. También están vetadas aquellas que hayan presentado falsedades en su declaración responsable de estar en cumplimiento de lo anterior. </li>
        <li>Vetado para quienes se encuentren en los supuestos de conflictos de interés de miembros del Gobierno y altos cargos (<a href="https://www.boe.es/diario_boe/txt.php?id=BOE-A-2015-3444">Ley 3/2015</a>). También sus cónyuges, vinculados e hijos (si tienen su representación legal). </li>
        <li>Prohibido también para aquellos que hayan tenido contratado a personas que incumplen las normas de prevención de conflicto de intereses, porque pasaron a lo privado en los dos años siguientes del mismo sector que regulaban en lo público. </li>
        <li>Condenado (también la empresa, si los condenados fueron sus administradores por hechos cometidos en la misma) por sentencia firme en los siguientes delitos: 
        <ul>
        <li>Asociación ilítica.</li>
        <li>Corrupción en transaccciones económicas internacionales.</li>
        <li>Tráfico de influencias.</li>
        <li>Cohecho.</li>
        <li>Fraude y exacciones ilegales.</li>
        <li>Delitos contra la Hacienda Pública y la Seguridad Social.</li>
        <li>Delitos contra los derechos de los trabajadores.</li>
        <li>Malversación y similares.</li>
        <li>Delitos relativos a la protección del medio ambiente.</li>
        <li>Pena de inhabilitación para el ejercicio de su oficio</li>
        </ul></li>
        </ul>
        <p><strong>Prohibido pero, ¿por cuánto tiempo?</strong> &gt; En general, cinco años, ocho si hablamos de condenas firmes. </p>
        <ul>
        <li>Haber dado lugar a resolución firme de contrato anterior.</li>
        <li>Haber infringido la prohibición de contratar en una ocasión anterior.</li>
        <li>Retirar su candidatura a una licitación o no cumplimentar los papeles necesarios para que se formalice la adjudicación. </li>
        <li>Haber incumplido condiciones esenciales de un contrato anterior. Este punto no aplica más allá de AGE, puesto que no es legislación básica.</li>
        </ul>
        <p><strong>¿Cómo se comprueba?</strong>. Lo más usual es que la empresa firme un documento en el que declara estar al corriente de sus pagos con Hacienda y la Seguridad Social y no estar en ninguna de las prohibiciones anteriores. La AAPP adjudicataria comprueba, por norma habitual, la veracidad de esas afirmaciones. </p>

        <h3 id="los-tiempos">Los tiempos</h3>

        <p>[Estas reglas aplican, en general, a los procedimientos abiertos y sin tramitación urgente. Y los plazos, si no se marca lo contrario, se cuentan por días naturales]</p>
        <ol>
        <li><p>PUBLICACIÓN DE ANUNCIO DE LICITACIÓN.</p></li>
        <li><p>PLAZO DE PRESENTACIÓN DE SOLICITUDES. </p></li>
        </ol>
        <ul>
        <li>En <strong>regulación armonizada</strong>, se tiene que dejar un plazo no menor a <strong>52 días</strong> desde que se envía el anuncio a la UE. Puede reducirse a 47 si el acceso a los pliegos es telemático. Además, si la licitación ha contado con anuncio previo, se puede dejar un plazo menor, de 36 días y, en casos excepcionales, de 22. Y se le pueden restar 7 días más si los pliegos están online. Así, esta parte del proceso va de 15 a 52 días, dependiendo de muchas variables. En todo caso, a publicación en el BOE debe hacerse siempre 15 días antes de cerrar el plazo (26 en el caso de obras) como mínimo, la misma regla que aplica a:</li>
        <li><p>No regulación armonizada. </p></li>
        </ul>
        <ol>
        <li><p>APERTURA DE PROPOSICIONES.</p></li>
        <li><p>PROCESO DE SELECCIÓN. Si el único criterio es el precio, el tiempo máximo para elegir al ganador es de 15 días. Para el resto de procesos, ese máximo sube a dos meses. Si se presentan ofertas desproporcionadas, pueden sumar otros 15 días. Y, ¡ojo!, si no se cumplen estos plazos, las empresas pueden retirarse.</p></li>
        <li><p>ELECCIÓN DE LA OFERTA ELEGIDA.</p></li>
        <li><p>JUSTIFICACIÓN DEL GANADOR. El ganador tiene diez días para presentar la documentación que demuestre que está al corriente con los tributos y la Seguridad Social. Desde la recepción de esos documentos, la administración tiene cinco días para adjudicar. No se puede declarar desierto el proceso si alguna empresa cumple los requisitos. </p></li>
        <li><p>ADJUDICACIÓN. Se publica en el perfil del contratante y se notifica a los interesados (para que puedan recurrir si así lo consideran oportuno).</p></li>
        <li><p>PERIODO PREVIO A LA FORMALIZACIÓN. Este es el momento en el que otros participantes pueden recurrir. Si es suscepcible de recurso especial, no se puede pasar al siguiente paso (la formalización) antes de 15 días ni mas tarde de 20. El resto de contratos se tienen que formalizar antes de 15 días. </p></li>
        <li><p>FORMALIZACIÓN. Se tiene que publicar antes de que pasen <strong>48 días</strong> desde su firma. A partir de la firma de la formalización se puede ejecutar el contrato, nunca antes, excepto en emergencias. </p></li>
        <li><p>EJECUCIÓN.</p></li>
        <li><p>FIN DEL SERVICIO.</p></li>
        <li><p>PAGO. La PP tiene que abonar el precio acordado a los 30 días de finalizar el contrato. Si se retrasa, debe pagar intereses.  </p>
        <ul>
        <li>Es obligatorio enviar la información del contrato al Tribunal de Cuentas dentro de los tres meses siguientes a la formalización si son contratos de más de 600.000€ en obras, de más de 450.000€ en suministros y más de 150.000€ en servicios. </li>
        </ul></li>
        </ol>

        <h3 id="clausulas-de-resolucion">Cláusulas de resolución</h3>

        <ul>
        <li>Por muerte, incapacidad o extinción de la empresa. </li>
        <li>Por concurso o insolvencia.</li>
        <li>Si se produce una demora en los plazos por parte del contratista (o, en procesos urgentes, si arranca más tarde de 15 días desde la formalización).</li>
        <li>Demora en los pagos por parte de la administración de más de seis meses (o lo que marque cada CCAA).<br></li>
        <li>Imposibilidad de ejecutar o seguir ejecutando el contrato por lesión grave del interés público y cuando no sea posible modificar el contrato para evitarlo. </li>
        <li>Incumplimiento de las obligaciones contractuales esenciales.<br></li>
        </ul>

        <h3 id="bajas-temerarias">El espejismo de las bajas temerarias</h3>

        <p>Ofertas &quot;anormalmente bajas&quot;, &quot;desproporcionadas&quot; o, más común, &quot;bajas temerarias&quot;. Todas esas expresiones se refieren a lo mismo: el empresario asegura que va a ofrecer un servicio, un suministro o a levantar una obra pública a un precio o en unas condiciones que no parecen creíbles. Y eso significa que puede poner en peligro su ejecución. O, lo que es lo mismo, que prometa pero no cumpla y lo deje a medias, tenga que pedir una ampliación del presupuesto o la calidad del resultado sea nefasta o incluso peligrosa. Para evitar todos estos males, las leyes establecen límites a las bajas temerarias.</p>
        <p>Las directivas europeas dejan a los países la definición, en sus propias leyes, de estas ofertas desproporcionadas. Y aclaran que no se puede excluir de forma directa una oferta solo por serlo. Del mismo modo se refleja en el reglamento de la Ley de Contratos del Sector Público: antes de rechazar una oferta &quot;anormalmente baja&quot; es obligatorio dar trámite a la empresa que la ha propuesto para que justifique sus bajos precios. Así, se pide un informe y, si convence a los responsables de la contratación, -algo que es habitual, como explican diversas fuentes del sector- se adjudica igualmente, aunque sea una baja temeraria. Esta es la razón por la que, en muchísimos casos, el límite legal a estas prácticas no es más que un espejismo.</p>
        <h4>¿Qué es una baja temeraria?</h4>
        <p>El reglamento de la Ley de Contratos del Sector Público distingue entre concursos (contratos con varios criterios de adjudicación) y subastas (contratos en los que el único criterio es el precio). Para los primeros, los pliegos &quot;pueden&quot; establecer baremos para determinar qué es una baja temararia, pero no están obligados. De hecho, si la fórmula para el cálculo no está en los pliegos, está prohibido aplicar ninguna y excluir a una empresa por esa razón.</p>
        <p>Caso bien distinto es el de las subastas, en el que las reglas básicas establecen que son bajas temerarias:</p>
        <p>Si hay un licitador, una rebaja de más del 25% con respecto al precio de licitación.
        Con dos licitadores, si una oferta es inferior a la otra en más de un 20%.
        Con tres licitadores, las ofertas que rebajen la media aritmética más de un 10%. Pero se excluirá del cálculo la oferta más elevada si supera en más de un 10% esa media. En todo caso, siempre será baja temeraria la baja superior a un 25%.
        Con cuatro o más licitadores, las ofertas que rebajen la media en más de un 10%. Como en la anterior, también se excluyen aquí las ofertas que superen en un 10% la media.
        Esta es la base legal. Según cada caso concreto, el organismo contratador podrá reducir un tercio esos porcentajes en los pliegos. Eso sí, deberá motivar su decisión.</p>
        <h4>La otra cara de la moneda</h4>
        <p>Pero, si las bajas suponen una rebaja en el precio a pagar, ¿por qué se limitan? Aunque su sentido primario es evitar ampliaciones y ejecuciones deficientes, la CNMC alerta que, en ocasiones, el precio de licitación tiene poco que ver con el coste real y es normal que se produzcan esos desajustes. &quot;La elaboración de esos presupuestos normalmente sigue procesos con deficiente transparencia y escasa relación con los precios efectivos de mercado&quot;, critica en su informe sobre la contratación pública.</p>
        <p>O, lo que es lo mismo: &quot;La CNMC ha detectado a menudo que una baja significativa por parte de un operador respecto al presupuesto estimado de licitación no refleja necesariamente una ganancia de eficiencia respecto a los precios de mercado, y mucho menos una “baja temeraria”, sino una inadecuada aproximación por el órgano de contratación a los costes que ha estimado&quot;.</p>

        <hr>

        <h5><strong>BOLA EXTRA</strong></h5>
        <p>Si has llegado hasta aquí, te mereces un premio. O una pista. Lee atentamente la exposición de motivos de la <a href="https://www.boe.es/buscar/doc.php?id=BOE-A-2007-18874">Ley de Contratos del Sector Público de 2007</a>, en la que está basada la normativa en vigor. Bueno, mejor lee la primera letra de cada párrafo. Un funcionario muy listo cuenta que es lo que te provoca el estudio de esta norma. Como mínimo. </p>

      </div>
    </div>
  </div>

  <div class="col-md-4 col-lg-3 law-navigation">
    <div class="panel panel-default panel-page">
      <ul class="page-navigation">
        <li>
          <a href="#a-quien-aplica">¿A quién aplica?</a>
        </li>
        <li>
          <a href="#tipos-de-contratos-por-el-objeto">Tipos de contratos: por el objeto</a>
        </li>
        <li>
          <a href="#tipos-de-contratos-por-el-proceso">Tipos de contratos: por el proceso</a>
        </li>
        <li>
          <a href="#cuando-se-permite-el-procedimiento-negociado">¿Cuándo se permite el uso del procedimiento negociado?</a>
        </li>
        <li>
          <a href="#obligaciones-de-publicidad">Obligaciones de publicidad</a>
        </li>
        <li>
          <a href="#prohibiciones-para-contratar-con-las-aapp">Prohibiciones para contratar con las AAPP</a>
        </li>
        <li>
          <a href="#los-tiempos">Los tiempos</a>
        </li>
        <li>
          <a href="#clausulas-de-resolucion">Cláusulas de resolución</a>
        </li>
        <li>
          <a href="#bajas-temerarias">El espejismo de las bajas temerarias</a>
        </li>
      </ul>
    </div>
  </div>
</div>

