<div class="title law">
  <h2>Guía básica de la Ley de Contratos del Sector Público</h2>
</div>

<div class="row">
  <div class="col-sm-3">
    <%= render "partials/page_the_law_navigation", index: @page_index %>
  </div>

  <div class="col-sm-9">
    <div class="panel panel-default panel-page">
      <div class="panel-body">

        <%= render "partials/page_the_law_navigation_btns", page_prev: @page_prev, page_next: @page_next %>
        
        <h3>Los tiempos</h3>
        <p>[Estas reglas aplican, en general, a los procedimientos abiertos y sin tramitación urgente]</p>
        <ol>
          <li>
            <p>PUBLICACIÓN DE ANUNCIO DE LICITACIÓN.</p>
          </li>
          <li>PLAZO DE PRESENTACIÓN DE SOLICITUDES. </li>
        </ol>
        <ul>
          <li>En <strong>regulación armonizada</strong>, se tiene que dejar un plazo no menor a <strong>52 días</strong> desde que se envía el anuncio a la UE. Puede reducirse a 47 si el acceso a los pliegos es telemático. Además, si la licitación ha contado con anuncio previo, se puede dejar un plazo menor, de 36 días y, en casos excepcionales, de 22. Y se le puede restar 7 días más si los pliegos están online. Así, de 15 a 52 días, dependiendo de muchas variables. En todo caso, a publicación en el BOE debe hacerse 15 días antes de cerrar el plazo (26 en el caso de obras) como mínimo, la misma regla que aplica a:</li>
          <li>No regulación armonizada. </li>
        </ul>
        <ol>
          <li>
            <p>APERTURA DE PROPOSICIONES.</p>
          </li>
          <li>PROCESO DE SELECCIÓN. Si el único criterio es el precio, el máximo para elegir al ganador es de 15 días. Para el resto, un máximo de 2 meses (excepto si pone otra cosa en los pliegos). Si hay ofertas desproporcionadas, pueden sumar otros 15 días. Y ojo, si no cumplen estos plazos, las empresas pueden retirarse.</li>
          <li>ELECCIÓN DE LA OFERTA ELEGIDA.</li>
          <li>JUSTIFICACIÓN DEL GANADOR. El ganador tuene 10 días para presentar la documentación que demuestre que está al corriente con los tributos y la seduridad social. Desde la recepción de esos documentos, la administración tiene cinco días para adjudicar. No se puede declarar desierta si alguna empresa cumple los requisitos. </li>
          <li>ADJUDICACIÓN. Se publica en el perfil del contratante y se notifica a los interesados (para que pueda recurrir).</li>
          <li>PERIODO PREVIO A LA FORMALIZACIÓN. Este es el momento en el que otros participantes pueden recurrir. Si es suscepcible de recurso especial, no se puede pasar al siguiente paso (la formalización) antes de 15 días ni mas tarde de 20. El resto de contratos se tienen que formalizar antes de 15 días. </li>
          <li>FORMALIZACIÓN. Se tiene que publicar antes de que pasen <strong>48 días</strong> desde su firma. A partir de la firma de la formalización se puede ejecutar el contrato, nunca antes, excepto en emergencias. </li>
          <li>EJECUCIÓN.</li>
          <li>FIN DEL SERVICIO.</li>
          <li>
            <p>PAGO. Se tiene que pagar a los 30 días de finalizar el contrato (o toca pagar intereses). </p>
            <ul>
              <li>Hay que enviar la información del contrato al Tribunal de Cuentas dentro de los 3 meses siguientes a la formalización si son contratos de >600.000€ en obras, de más de 450.000€ en suministros y más de 150.000€ en servicios. </li>
            </ul>
          </li>
        </ol>

        <%= render "partials/page_the_law_navigation_btns", page_prev: @page_prev, page_next: @page_next %>
        
      </div>
    </div>
  </div>
</div>

