---

---

<div class="title administrations">
  <h2>Administraciones</h2>
</div>

<%= partial('partials/entities', :locals => { :entities_data => data.administrations, :path => 'administraciones' }) %>

