---

---

<div class="title law">
  <h2>La Ley de Contratación Pública</h2>
</div>

<div class="panel panel-default">
  <div class="panel-body">
    <p><%= lorem.paragraphs 6 %></p>
    <p><%= lorem.paragraphs 9 %></p>
    <p><%= lorem.paragraphs 7 %></p>
  </div>
</div>
