// Stacked Bar Chart

.stacked-bar-chart{
  position: relative;
  background: $colorHeader;
  padding: $grid-gutter-width/3 $grid-gutter-width/2;
  margin-top: $grid-gutter-width;
  min-height: 200px;
  font-size: 16px;
  font-family: $font-family-sans-serif;

  .chart{

    rect.abierto,
    rect.sin-utes {
      fill: $colorTextGreen;
    }
    rect.negociado,
    rect.con-utes{
      fill: mix( $colorTextGreen, $colorSecondary, 50% );
    }
    
    rect.otros{
      fill: #aaa;
    }

    .amount {
      fill: white;
      //text-anchor: end;
      font-size: 0.913em;
      font-weight: 600;
      pointer-events: none;
    }

    .label {
      fill: $colorTitle;
      //text-anchor: end;
      font-size: 0.913em;
      font-weight: 600;

      &:hover{
        fill: $colorTextGreen;
      }
    }
  }
}

.stacked-bar-chart-footer{
  padding: $grid-gutter-width/3 $grid-gutter-width/2 ($grid-gutter-width/3)-2;
  background: $colorWhite;
  border: none;
  font-family: $font-family-sans-serif;
  font-size: $font-size-base;
  font-weight: normal;
  line-height: 24px;

  strong{
    font-weight: 600;
  }

  a{
    font-weight: bold;
  }

  .orange,
  .orange-light,
  .gray{
    color: white;
    padding: 0 0.25em 0.1em;
    font-weight: 600;
  }

  .orange{
    background: $colorTextGreen;
  }

  .orange-light{
    background: mix($colorTextGreen, $colorSecondary, 50%);
  }

  .gray{
    background: #aaa;
  }
}

.wall-item{ 

  .stacked-bar-chart{
    margin-top: $grid-gutter-width/2;
    margin-right: $grid-gutter-width/6;
    margin-left: $grid-gutter-width/6;
  }

  .stacked-bar-chart-footer{
    margin: 0 $grid-gutter-width/6;
    padding-bottom: 0;
    background: none;
  }
}

.pages.search{
  .stacked-bar-chart,
  .stacked-bar-chart-footer{
    display: none;
  }
}


// Popoover Charts
.stacked-bar-chart,
.entity-chart{

  .popover{
    display: none;
    position: absolute;
    bottom: auto;
    right: auto;
    min-width: 150px;
    padding: 0;
    pointer-events: none;
    //box-shadow: $popover-box-shadow;

    .popover-title{
      font-size: 1.5rem;
      line-height: 1.5rem;
      padding: 1.25rem 0.75rem 0.25rem;
      border: none;
      font-weight: 600;

      span{
        font-weight: 400;
      }
    }

    .popover-budget,
    .popover-budget-data{
      font-weight: 400;
      padding: 1rem 0.75rem;
      line-height: 1.125em;
      border-radius: 0.25rem;
      background: white;

      strong{
        font-weight: 600;
      }

      .percentage{
        //font-size: 0.875em;
        //padding-left: 6px;
      }
    }

    .popover-budget{
      margin-bottom: 1rem;
      border-bottom: 1px solid $colorBody;

      strong{
        font-size: 1.25em;
      }
    }

    .popover-budget-data{
      padding-top: 0;
      line-height: 1em;

      small{
        font-weight: 600;
        font-size: 0.913em;
      }
    }

    .popover-budget-alone small,
    .popover-budget-abierto small{
      color: $colorTextGreen;
    }

    .popover-budget-ute small,
    .popover-budget-negociado small{
      color: mix($colorTextGreen, $colorSecondary, 50%);
    }

    .popover-budget-otros small{
      color: #aaa;
    }

    .glyphicon{
      color: #aaa;
      font-size: 11px;
      padding-right: 6px;
      top: 0;
    }

    .popover-area{
      font-size: 1.375rem;
      padding: 0.75rem 0.75rem;
    }
  }
}

.entity-chart .popover{
  .popover-budget{
    border-bottom: none;
    margin-bottom: 0;    
  }
  .popover-budget-ute{
    border-top: 1px solid $colorBody;
    padding-top: 1rem;
  }

  .popover-budget-alone{
    
  }
}


// Entity Chart (treemap & timeline-bar)

.entity-chart{
  position: relative;
  margin-bottom: $grid-gutter-width/2;
  min-height: 405px;
  background: mix( $colorBody, white, 25%);
}

.entity-charts .well{
  font-size: 0.813em;
  padding: $grid-gutter-width/3 $grid-gutter-width/2 ($grid-gutter-width/3)-2;
  margin-top: $grid-gutter-width;
  margin-bottom: $grid-gutter-width;
  background: mix( $colorBody, white, 25%);
  border: none;

  strong, a{
    font-weight: 600;
  }
}

// Treemap Chart

#treemap-chart{
  position: relative;

  .node {
    box-sizing: border-box;
    position: absolute;
    overflow: hidden;
    background: $colorTextGreen;
   
    &.ministerios{
      background: $colorTextGreen;
    }
    &.comunidades-autnomas{
      background: mix( $colorTextGreen, $colorSecondary, 80% );
    }
    &.administracin-local{
      background: mix( $colorTextGreen, $colorSecondary, 60% );
    }
    &.universidades,
    &.otros-poderes-adjudicadores{
      background: mix( $colorTextGreen, $colorSecondary, 40% );
    }
    &.others{
      background: desaturate( $colorSecondary, 25% );
    }
  }

  .node-label {
    display: table;
    height: 100%;
    width: 100%;
    padding: 0;
    height: 100%;
    color: #111;
    //margin: 0 auto;
    //text-align: center;
    margin: 0 10px;

    p {
      display: table-cell;
      //padding: 0;
      padding: 7px 20px 0 0;
      margin: 0;
      line-height: 1.25em;
      text-transform: uppercase;
      //vertical-align: middle;
    }
  }

  .node-value {
    //color: $gray;
    font-size: 0.813rem;
    margin-top: 0.25rem;
  }
}

// Timeline Bar Chart

#timeline-bar-chart{

  .overlay{
    opacity: 0;
  }

  .bar{
    fill: $colorTextGreen;
  }
  .bar-ute{
    fill: mix($colorTextGreen, $colorSecondary, 50%);
  }

  .axis{ 
    .domain{
      stroke: $colorTitle;
    }
    .tick text{
      fill: $colorTitle;
      font-size: 11px;
      text-anchor: start;
    }
  }
}
