.table{
  .glyphicon{
    font-size: 1.125em;
    color: $colorTextGreen;
    top: 3px;
    margin-right: 2px;
  }
}

.contracts-filters{
  padding: 2*$grid-gutter-width;

  h3{
    margin-bottom: $grid-gutter-width;
    font-weight: 700;
    font-size: 1.375em;
    text-align: center;
  }
}