.contracts-filters{
  padding: $grid-gutter-width;

  h3{
    margin-top: -$grid-gutter-width/6;
    margin-bottom: 2*$grid-gutter-width/3;
    font-weight: 600;
    font-size: 1.375em;
  }

  .btn-primary{
    text-transform: uppercase;
    font-weight: bold;
    margin-top: $grid-gutter-width/3;

    .glyphicon{
      font-size: 0.875em;
      padding-right: 5px;
    }
  }

  label{
    font-size: 0.875em;
    font-weight: 600;
    text-transform: uppercase;
  }
}

// Tables

.table-contracts{
  font-size: 0.938em;

  a,
  strong{
    font-weight: 600;
  }

  .glyphicon{
    font-size: 1.125em;
    color: #808080;
    top: 3px;
    margin-right: 2px;
  }

  .read-more{
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background: #808080;
    text-align: center;

    .glyphicon{
      font-size: 0.875em;
      color: white;
      top: 2px;
      margin-left: 4px;
    }
  }

  > tbody > tr:hover{
    background: mix( $colorBody, white, 50%);

    .glyphicon{
      color: $colorTextGreen;

       &:hover{
        color: darken( $colorTextGreen, 10% );
      }
    }
    .read-more{
      background: $colorTextGreen;

      &:hover{
        background: darken( $colorTextGreen, 10% );
      }
      .glyphicon{
        color: white;
      }
    }
  }

  > thead > tr > th{
    font-weight: 600;
    text-transform: uppercase;
    border-bottom: 1px solid $colorTextGreen;
    background: mix( $colorBody, white, 50%);

    i{
      font-style: normal;
      font-weight: 400;
    }
  }

  > thead > tr > th, 
  > thead > tr > td, 
  > tbody > tr > th, 
  > tbody > tr > td, 
  > tfoot > tr > th, 
  > tfoot > tr > td{
    padding: $grid-gutter-width/3 $grid-gutter-width/6;
    line-height: 1.25em;

    &:first-child{
      padding-left: $grid-gutter-width/2;
    }
    &:last-child{
      padding-right: $grid-gutter-width/2;
    }
  }
}

.table.contract-detail{

  .contract-panel{
    padding: $grid-gutter-width/3 $grid-gutter-width/2;
    background: mix( $colorBody, white, 50%);
  }

  > tbody > tr > td{
    border: $grid-gutter-width/3 solid $colorBody;
    background: mix( $colorBody, white, 25%);
    padding: 0 $grid-gutter-width/2 $grid-gutter-width/2;

    p{
      margin-bottom: 0;
      line-height: 1.25em;
      font-weight: 600;
    }

    .label{
      color: #666;
      display: block;
      margin: 2*$grid-gutter-width/3 0 $grid-gutter-width/6;
      padding: 0;
      line-height: 1em;
      text-transform: uppercase;
      text-align: left;
      font-weight: 600;

      .glyphicon{
        color: $colorTextGreen;
      }
    }

    .budget{
      font-size: 1.375em;
      line-height: 1.125em;

      strong{
        padding-right: $grid-gutter-width/6;
      }
    }
    .description{
      font-size: 1.125em;
      line-height: 1.375em;
    }
    .date{
      font-size: 1.125em;
    }
    .entity{
      font-size: 1.25em;
      font-weight: 700;
    }
    .source{
      font-weight: bold;

      .glyphicon{
        font-size: 0.813em;
      }
    }

    &.text-right .label{
      text-align: right;

      .glyphicon{
        margin-left: 5px;
      }
    }

    .procedure-tramitation-container{
      display: table;
    }
    .procedure,
    .tramitation{
      display: table-cell;
      padding-right: $grid-gutter-width/2;
    }

    &:first-child{
      border-left-width: 0; 
    }
    &:last-child{
      border-right-width: 0; 
    }
  }

  @media (max-width: $screen-sm-min) {
    display: block;

    tbody, tr, td { 
      display: block;
    }
    > tbody > tr > td{
      border-right: none;
      border-left: none;
      border-top: 2px solid $colorBody;
      border-bottom: 2px solid $colorBody;
      margin: 0;

      &.text-right,
      &.text-right .label{
        text-align: left;
      }

      .procedure-tramitation-container,
      .procedure,
      .tramitation{
        display: block;
      }
    }
  }
}