.entity-info{

  .panel-body{
    padding: $grid-gutter-width $grid-gutter-width 5px;
  }

  .entity-picture{
    padding: 5px 5px 0;
  }

  .entity-title{
    color: $colorGray;
    font-family: $font-family-serif;
    font-size: 1.125em;
    font-weight: bold;
    line-height: 1.5em;
    margin-bottom: 0;
  }
  
  .title-lines-horizontal{
    margin: 12px 0 20px;
  }

  .description{
    font-size: 0.938em;
    //margin: 3px 12px 12px;
    //padding-top: 12px;
  }

  .entity-links{
    display: block;
    width: 100%;
    background: $colorSidebar;
    height: 40px;

    ul{
      display: block;
      text-align: center;
      margin: 0;
      padding: 0;
    }

    li{
      float: none;
      display: inline;
      line-height: 40px;
      font-size: 1.125em;
      padding: 0 2px;

      .quien-manda{
        display: inline;
        padding: 0 14px;
        background: url(../images/qm-logo-small.png) no-repeat center 3px transparent;

        &:hover{
          background-position: center -21px;
        }
      }
    }

    a:hover {
      color: $colorTitle;
    }
  }
}