.entities .wall-item .panel .panel-heading{
  border-bottom: 1px solid darken( $colorBody, 10% );
}

.entity-content{
  h3{
    //font-family: $font-family-serif;
    font-size: 1.125em;
    font-weight: 600;
    margin: $grid-gutter-width/2 0;
  }

  .panel{
    margin-bottom: 1.5*$grid-gutter-width;
  } 
}

.entity-description{
  padding: 2*$grid-gutter-width/3 2*$grid-gutter-width/3 $grid-gutter-width/3;
  margin-bottom: $grid-gutter-width;
  font-size: 1.125em;
  background: white;  // mix( $colorBody, white, 25%);

  strong{
    font-weight: 600;
  }
}

.btn-all-entities{
  margin-bottom: $grid-gutter-width;

  .btn{
    color: $colorTextGreen;
    font-size: 0.875em;
    text-transform: uppercase;
    border: none;

    .glyphicon{
      font-size: 0.875em;
    }

    &:hover{
      color: white;
      background: $colorTextGreen;
      font-weight: 600;
    }
  }
}

.entity-qm-embed{
  margin-top: 2*$grid-gutter-width/3;
  height: 450px;
  overflow: hidden;
}

.entity-info{

  .panel-body{
    padding: $grid-gutter-width/2 $grid-gutter-width/2 5px;
  }

  .entity-picture{
    padding: 5px 5px 0;
  }

  .entity-title{
    color: $colorGray;
    font-family: $font-family-serif;
    font-size: 1.125em;
    font-weight: bold;
    line-height: 1.5em;
    margin-bottom: 0;
  }
  
  .title-lines-horizontal{
    margin: 12px 0 20px;
  }

  .description{
    font-size: 0.938em;
    //margin: 3px 12px 12px;
    //padding-top: 12px;
  }

  .entity-links{
    display: block;
    width: 100%;
    background: $colorSidebar;
    height: 40px;

    ul{
      display: block;
      text-align: center;
      margin: 0;
      padding: 0;
    }

    li{
      float: none;
      display: inline;
      line-height: 40px;
      font-size: 1.125em;
      padding: 0 2px;

      .quien-manda{
        display: inline;
        padding: 0 14px;
        background: url(../images/qm-logo-small.png) no-repeat center 3px transparent;

        &:hover{
          background-position: center -21px;
        }
      }
    }

    a:hover {
      color: $colorTitle;
    }
  }
}

.entity-chart-title{
  position: relative;

  h3{
    line-height: 1.25em;
    padding-right: 150px;
    margin: $grid-gutter-width/2 0  2*$grid-gutter-width/3;
  }

  .utes-switch-container{
    position: absolute;
    right: 0;
    bottom: -$grid-gutter-width/6;
  }
}

.menu-alphabetic{
  width: 100%;
  padding: 0;
  margin: 0 0 $grid-gutter-width;

  > .btn{
    width: 3.93%;
    min-width: 28px;
    color: $colorTextGreen;
    padding-left: 0;
    padding-right: 0;
    border-color: $colorBody;

    &:hover{
      background: $colorHeader;
      font-weight: 600;
    }

    &.active,
    &.active:hover,
    &:focus{
      color: white;
      border-color: $colorTextGreen;
      background: $colorTextGreen;
      font-weight: 600;
    }
  }
}