.footer{
  color: white;
  margin-top: 3*$grid-gutter-width;
  
  .main-footer{
    background: $colorLinkGreen;
    padding: 2*$grid-gutter-width $grid-gutter-width;

    p{
      margin: 0;
      font-size: 1.125em;
      font-family: $font-family-serif;
      font-style: italic;
    }

    a{
      display: inline-block;
      margin: $grid-gutter-width 0;
      font-size: 1.125em;
      font-weight: 700;
      color: white;
      @include transition( opacity 0.3s ease-out );

      &:hover{
        text-decoration: none;
        opacity: 0.7;
      }
    }
  }

  .sub-footer{
    font-size: 0.875em;
    background: darken( $colorLinkGreen, 10% );
    padding: $grid-gutter-width;

    p{
      margin: 0;
    }
  }
}