.footer{
  color: white;
  margin-top: 1.5*$grid-gutter-width;
  
  .main-footer{
    background: lighten( #032C6B, 10% );  // $colorLinkGreen;
    padding: $grid-gutter-width $grid-gutter-width/2;
    letter-spacing: .02em;

    p{
      margin: 0;
      font-size: 1.125em;
      //font-family: $font-family-serif;
      //font-style: italic;
    }

    a{
      display: inline-block;
      margin: $grid-gutter-width/2 0;
      font-size: 1.125em;
      font-weight: 700;
      color: white;
      @include transition( opacity 0.3s ease-out );

      &:hover{
        text-decoration: none;
        opacity: 0.7;
      }
    }
  }

  .sub-footer{
    font-size: 0.875em;
    background: #032C6B;
    //background: darken( $colorLinkGreen, 10% );
    padding: $grid-gutter-width/2;

    p{
      margin: 0;
    }
  }
}