.navbar-default{
  margin: 0;
  z-index: 1000;
  @include box-shadow( 0px 1px 1px rgba(0,0,0,.15), 0px 2px 1px rgba(0,0,0,.10), 0px 3px 1px rgba(0,0,0,.05) );
}

.navbar-toggle{
  position: absolute;
  float: none;
  right: $grid-gutter-width/2;
  bottom: $grid-gutter-width;
  padding: 11px 9px;
  margin: 0;

  .icon-bar{
    height: 3px;
  }
}

.navbar .navbar-brand{
  display: block;
  margin: $grid-gutter-width 0;
  padding: 0;
  width: 297px;
  height: 110px;
  text-indent: -9999px;
  background: asset-url('logo-qclo.png') no-repeat 0 0 transparent;
}

#navbar{
  position: absolute;
  right: $grid-gutter-width;
  left: $grid-gutter-width;
  top: 2+$navbar-height;
  background: $colorHeader;
  width: auto;
  @include box-shadow( 0px 1px 1px rgba(0,0,0,.15), 0px 2px 1px rgba(0,0,0,.10), 0px 3px 1px rgba(0,0,0,.05) );

  .navbar-nav{
    position: relative;
    padding-right: 0;
    margin-top: 0;
    margin-bottom: 0;
    background: asset-url('nav-pattern.png') repeat-x 0 26px transparent;

    > li > a{
      font-size: 1.375em;
      font-family: $font-family-economica;
      font-weight: 700;
      padding: 10px $grid-gutter-width;
      background: $colorHeader;
      border-bottom: 2px solid $colorBody;
      text-shadow: 0 1px 0 #fff;
      @include transition(color 0.3s ease-in-out);
    }
  }

  .navbar-form{
    padding: 0;
    margin: 9px 0 12px 8px;
    border: none;

    .form-group{
      display: inline-block;
      margin-bottom: 0;
      vertical-align: middle;
    }

    input{
      color: $colorGray;
      width: 190px;
      height: 30px;
      font-size: 0.875em;
      background: lighten( $colorBody, 2% );
      padding-right: 8px;
      padding-right: 9px \9;
      padding-left: 8px;
      padding-left: 9px \9;
      padding-top: 5px;
      margin-top: 3px;
      border: 1px solid mix( $colorBody, $colorTextGreen, 80% ); //#d3d9cd;
      @include box-shadow( none );

      &:focus{ 
        border-color: mix( $colorBody, $colorTextGreen, 50% ); 
        background: $colorBody; 
      }
    }

    .btn{
      border: none;
      background: none;
      padding: 4px 5px;
      margin-top: 0;
      margin-bottom: 0;
      line-height: 30px;

      .glyphicon-search{
        color: $colorHeaderLink;
        font-size: 1.125em;
        top: 5px;
        @include transition(color 0.3s ease-in-out);
      }

      &:hover .glyphicon-search{ color: $colorGray; }
    }
  }
}
