.subtitle{ 

  position: relative;
  text-align: center;
  margin: 1.5*$grid-gutter-width 0;

  h2 {
    display: inline-block;
    font-size: 1.5em;
    font-family: $font-family-serif;
    font-style: italic;
    letter-spacing: -0.015em;
    background: $colorBody;
    padding: 0 10px;
    text-shadow: 1px 1px 0 #fff;
  }
}

.panel-page{

  .panel-body{
    padding: $grid-gutter-width 2*$grid-gutter-width;;
    font-size: 1.125em;
    line-height: 1.5em;
  }

  h3, h4, h5, h6{
    font-family: $font-family-serif;
  }

  h3{
    font-size: 1.75em;
    line-height: 1.25em;
    padding: $grid-gutter-width 0 $grid-gutter-width/2;
    margin-top: $grid-gutter-width;
    margin-bottom: $grid-gutter-width;
    border-bottom: 1px solid $colorTextGreen;
    padding-left: 48px;
    background: asset-url('favicon-32x32.png') no-repeat 0 $grid-gutter-width+2 transparent;
    font-weight: 700;
  }

  h4{
    font-size: 1.25em;
    line-height: 1.25em;
    padding: $grid-gutter-width/2 0;
    font-weight: bold;
  }

  h5{
    font-family: $font-family-sans-serif;
    font-size: 1em;
    line-height: 1.25em;
    padding: $grid-gutter-width/2 0;
    font-weight: 600;
  }
}

.posts-highlighted .wall-item .panel{

  #home-chart{
    margin: $grid-gutter-width/2 $grid-gutter-width/6 -1*($grid-gutter-width/6);
  }

  .panel-heading{
    background: transparent;
    border-color: $colorBody;
  }

  h3{
    font-family: $font-family-serif;
    font-weight: 700;
    font-size: 1.75em;
    line-height: 1.375em;

    a{
      display: block;
      color: $colorGray;
      @include transition( color 0.3s ease-out );

      &:hover{
        color: $colorTextGreen;
      }
    }
  }

  .description p{
    font-size: 1em;
    font-weight: 600;
    padding: 0;
    margin: 0 2*$grid-gutter-width/3 $grid-gutter-width/3;
  }
}

.home-btns{

  .panel{
    padding: 5px;
  }

  a{
    display: block;
    font-family: $font-family-serif;
    font-size: 1.5em;
    font-weight: bold;
    padding: $grid-gutter-width/2;
    background: $colorHeader;
    text-align: center;
    @include transition( background 0.3s ease-out );

    .text{
      display: block;
      color: $colorGray;
      line-height: 1em;
      margin-top: $grid-gutter-width/2;
      @include transition( color 0.3s ease-out );
    }

    .lines{
      display: block;
      height: 5px;
      border-top: 1px solid $colorTextGreen;
      border-bottom: 1px solid $colorTextGreen;
    }
  
    .icon{
      display: block;
      width: 98px;
      height: 100px;
      margin: 0 auto $grid-gutter-width/2;
      background: asset-url('sprites-home.png') no-repeat 0 0 transparent;

      &.administrations{
        background-position: 0 -200px;
      }
      &.companies{
        background-position: 0 -100px;
      }
    }

    &:hover{
      background: white;

       .text{
        color: $colorTextGreen;
      }
    }
  }
}
