.subtitle{ 

  position: relative;
  text-align: center;
  margin: 3*$grid-gutter-width 0;

  h2 {
    display: inline-block;
    font-size: 1.5em;
    font-family: $font-family-serif;
    font-style: italic;
    letter-spacing: -0.015em;
    background: $colorBody;
    padding: 0 10px;
    text-shadow: 1px 1px 0 #fff;
  }
}

.panel-page{

  .panel-body{
    padding: 2*$grid-gutter-width;
    font-size: 1.125em;
    line-height: 1.5em;
  }

  h3, h4, h5, h6{
    font-family: $font-family-serif;
  }

  h3{
    font-size: 1.625em;
    line-height: 1.5em;
    padding: $grid-gutter-width 0;
    margin-bottom: $grid-gutter-width;
    border-bottom: 1px solid $colorSecondary;
    padding-left: 48px;
    background: asset-url('favicon-32x32.png') no-repeat 0 21px transparent;
    font-weight: 600;
  }

  h4{
    font-size: 1.25em;
    line-height: 1.25em;
    padding: $grid-gutter-width 0;
    font-weight: 600;
  }

  h5{
    font-size: 1em;
    line-height: 1.25em;
    padding: $grid-gutter-width 0;
  }
}

.posts-highlighted .panel{

  .panel-heading{
    background: transparent;
    border-color: $colorBody;
  }

  h3{
    font-family: $font-family-serif;
    font-weight: 700;
    font-size: 1.75em;
    line-height: 1.375em;
    text-align: center;

    a{
      display: block;
      color: $colorGray;
      @include transition( color 0.3s ease-out );

      &:hover{
        color: $colorTextGreen;
      }
    }
  }

  .description{
    text-align: center;
  }
}

.home-btns{

  .panel{
    padding: 5px;
  }

  a{
    display: block;
    font-family: $font-family-serif;
    font-size: 1.5em;
    font-weight: bold;
    padding: $grid-gutter-width;
    background: $colorHeader;
    text-align: center;
    @include transition( background 0.3s ease-out );

    .text{
      display: block;
      color: $colorGray;
      line-height: 1em;
      margin-top: $grid-gutter-width;
      @include transition( color 0.3s ease-out );
    }

    .lines{
      display: block;
      height: 5px;
      border-top: 1px solid $colorTextGreen;
      border-bottom: 1px solid $colorTextGreen;
    }
  
    .icon{
      display: block;
      width: 98px;
      height: 100px;
      margin: 0 auto $grid-gutter-width;
      background: asset-url('sprites-home.png') no-repeat 0 0 transparent;

      &.administrations{
        background-position: 0 -200px;
      }
      &.companies{
        background-position: 0 -100px;
      }
    }

    &:hover{
      background: white;

       .text{
        color: $colorTextGreen;
      }
    }
  }
}

#home-chart{
  position: relative;
  background: $colorHeader;
  margin-top: 2*$grid-gutter-width;
  min-height: 200px;

  .chart{

    rect{
      cursor: pointer;
    }

    rect.abierto {
      fill: adjust-hue( $colorTextGreen, -8% );
    }
    rect.negociado-con-publicidad {
      fill: adjust-hue( $colorTextGreen, 0% );
    }
    rect.negociado-sin-publicidad {
      fill: adjust-hue( $colorTextGreen, 8% );
    }
    rect.restringido{
      fill: adjust-hue( $colorTextGreen, 16% );
    }
    rect.diálogo-competitivo{
      fill: adjust-hue( $colorTextGreen, 24% );
    }

    .amount {
      fill: white;
      //text-anchor: end;
      font-size: 0.913em;
      font-weight: 600;
    }

    .label {
      fill: $colorGray;
      //text-anchor: end;
      font-size: 0.913em;
      font-weight: 600;
    }
  }

  #chart-tooltip{
    display: none;
    color: $colorGray;
    background: white;
    font-size: 0.913em;
    font-weight: 600;
    text-align: left;
    position: absolute;
    padding: $grid-gutter-width/2 $grid-gutter-width;
    z-index: 60;

    strong{
      font-weight: 700;
    }

    &.active{
      display: block;
    }
  }
}
