.subtitle{ 

  position: relative;
  text-align: center;
  margin: 3*$grid-gutter-width 0;

  h2 {
    display: inline-block;
    font-size: 1.5em;
    font-family: $font-family-serif;
    font-style: italic;
    letter-spacing: -0.015em;
    background: $colorBody;
    padding: 0 10px;
    text-shadow: 1px 1px 0 #fff;
  }
}

.panel-page{

  .panel-body{
    padding: 2*$grid-gutter-width;
  }

  h3, h4, h5, h6{
    font-family: $font-family-serif;
  }

  h3{
    font-size: 1.625em;
    line-height: 1.5em;
    padding: $grid-gutter-width 0;
    margin-bottom: $grid-gutter-width;
    border-bottom: 1px solid $colorSecondary;
    text-indent: 48px;
    background: asset-url('favicon-32x32.png') no-repeat 0 16px transparent;
    font-weight: 600;
  }

  h4{
    font-size: 1.25em;
    line-height: 1.25em;
    padding: $grid-gutter-width 0;
  }

  h5{
    font-size: 1em;
    line-height: 1.25em;
    padding: $grid-gutter-width 0;
  }
}

