.post{

  .post-content{
    margin-top: 1.5*$grid-gutter-width;
  }

  .post-title{
    padding: $grid-gutter-width 2*$grid-gutter-width;

    h2{
      font-size: 2.25em;
      font-family: $font-family-serif;
      font-weight: bold;
      line-height: 1.25em;
      padding-left: 3px;
      border-left: 1px solid $colorLinkGreen;

      span{
        display: block;
        border-left: 1px solid $colorLinkGreen;
        padding-left: $grid-gutter-width/2;
      }
    }
  }

  .post-picture{
    padding: 0 2*$grid-gutter-width;
  }

  .picture-footer,
  .picture-credits{
    color: $colorGray;
    font-size: 0.875em;
    background: $colorSecondary;
    margin: 0 2*$grid-gutter-width;
    padding: $grid-gutter-width/2;

    a{
      color: $colorLinkGreen;
      text-decoration: underline;

      &:hover{
        color: $colorGray;
        text-decoration: none;
      }
    }
  }

  .picture-footer{
    padding-bottom: 6px;
  }

  .picture-credits{
    padding-top: 0;
  }

  .panel-body{
    position: relative;
    padding: $grid-gutter-width 2*$grid-gutter-width;;
  }

  h3.post-title{
    position: relative;
    color: $colorGray;
    font-family: $font-family-serif;
    font-size: 1.75em;
    font-weight: 600;
    line-height: 1.375em;
    text-align: left;
    padding: 0;
    margin-left: 5px;

    //@include title-lines-vertical( $colorTextGreen, -5px );
  }
  
  .post-date{
    display: block;
    position: absolute;
    top: $grid-gutter-width;
    left: $grid-gutter-width;
    width: 2*$grid-gutter-width;
    padding: 10px 0;
    background: $colorHeader;
    text-align: center;

    .day,
    .month,
    .year{
      display: block;
      color: $colorGray;
    }

    .day{
      font-size: 1.25em;
      font-family: $font-family-serif;
    }

    .month{
      font-size: 1.375em;
      font-family: $font-family-economica;
      text-transform: uppercase;
      padding: 4px 0;
    }

    .year{
      color: $colorGray;
      font-size: 0.875em;
      font-family: $font-family-serif;
    }
  }

  .post-meta{
    color: $colorGray;
    padding: $grid-gutter-width/2 0;
    margin: $grid-gutter-width 0 0;
    border-top: 1px solid $colorSecondary;

    .post-meta-author{
      color: $colorTitle;
      font-weight: 600;
    }
  }

  .post-description {
    font-size: 1.25em; 
    line-height: 1.5em;    
    //color: $colorGray;
    overflow: hidden;
    //background: asset-url('moustache.gif') no-repeat bottom center;
    padding: $grid-gutter-width 0 $grid-gutter-width/2;
    border-top: 1px solid $colorSecondary;

    a{
      font-weight: 600;
      border-bottom: 1px dotted $colorTextGreen;

      &:hover{
        border-bottom: 1px solid $colorTitle;
        color: $colorTitle;
      }
    }

    p{
      margin-bottom: $grid-gutter-width/2;
    }

    ul{
      padding-left: $grid-gutter-width/2;
      padding-bottom: $grid-gutter-width/2;
      @include box-sizing( border-box );
    }

    li{
      padding-left: 40px;
      padding-bottom: $grid-gutter-width/2;
      background: asset-url('list-moustache.gif') no-repeat 0px 7px;
    }

    h3{
      font-family: $font-family-serif;
      font-weight: 700;
      font-size: 1.375em;
      margin:  $grid-gutter-width 0px;
      line-height: 1.25em;
    }
  }

  .post-comments{
    background: $colorSecondary;
    padding: 2*$grid-gutter-width $grid-gutter-width $grid-gutter-width;
  }

  .civio-banner{
    display: block;
    margin: $grid-gutter-width 0;
  }

  .post-content .sharing-buttons{
    position: absolute;
    left: 0;
    right: 0;
    bottom: -24px;
    padding: 0;
  }

  .sidebar .sharing-buttons{
    margin: $grid-gutter-width/2 0 $grid-gutter-width;
    padding: 0;
  }

  .related-entities{
    background: $colorSidebar;

    .panel-heading:before,
    .panel-body:before{
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 12px;
      height: 100%;
      background: -moz-linear-gradient(left, rgba(5,5,5,0.1) 0%, rgba(0,0,0,0) 100%);
      background: -webkit-gradient(left top, right top, color-stop(0%, rgba(5,5,5,0.1)), color-stop(100%, rgba(0,0,0,0)));
      background: -webkit-linear-gradient(left, rgba(5,5,5,0.1) 0%, rgba(0,0,0,0) 100%);
      background: -o-linear-gradient(left, rgba(5,5,5,0.1) 0%, rgba(0,0,0,0) 100%);
      background: -ms-linear-gradient(left, rgba(5,5,5,0.1) 0%, rgba(0,0,0,0) 100%);
      background: linear-gradient(to right, rgba(5,5,5,0.1) 0%, rgba(0,0,0,0) 100%);
    }

    .panel-heading{
      position: relative;
      background: transparent;
      padding: $grid-gutter-width $grid-gutter-width 0;
      border: none;
      @include title-lines-horizontal( $colorWhite, 46px );
      &:after{
        right: $grid-gutter-width;
        left: $grid-gutter-width;
      }

      h4{
        display: inline;
        position: relative;
        padding-right: 12px;
        font-family: $font-family-economica;
        font-size: 1.625em;
        font-weight: bold;
        line-height: 1em;
        background: $colorSidebar;
        z-index: 10;
      }
    }

    ul{
      padding: 0;
    }

    li{

      float: none;
      clear: both;
      margin-bottom: 24px;
      list-style: none;
      min-height: 74px;
      position: relative;

      /* Expandir/colapsar entidades relacionadas en el sidebar */
      &.extra-related-entity {
        display: none;
      } 

      $pictureW: 2*$grid-gutter-width;

      .picture{
        position: absolute;
        width: $pictureW;
        height: $pictureW;
        //border: 3px solid #fff;
      }

      .content{

        color: $colorGray;
        text-shadow: none;
        margin-left: $pictureW + $grid-gutter-width/2;

        a{
          display: block;
          width: 100%;
          color: $colorLinkGreen;
          font-weight: bold;

          &:hover{
            text-decoration: none;
            color: $colorGray;
          }
        }
      }

      .admin-link{
        position: absolute;
        right: 0;
        bottom: 0;
      }

      &:after{
        content: "";
        float: none;
        clear: both;
      }
    }
  }

  // Los reyes del ladrillo pictures
  .reyes-ladrillo-pictures{
    font-size: 0.875em;
    background: $colorHeader;
    padding: 2*$grid-gutter-width/3 ($grid-gutter-width - $grid-gutter-width/6) $grid-gutter-width/6;

    .row > div{
      padding-bottom: $grid-gutter-width/2;

      @media (min-width: $screen-lg-min) {
        &:nth-child(6){
          clear: both;
        } 
      }
    }

    h4{
      line-height: 1.5em;
      margin-top: $grid-gutter-width/2;

      a{
        color: $colorTitle;
        font-size: 1.5em;
        font-family: $font-family-serif;
        font-weight: bold;

        &:hover{
          color: $colorTextGreen;
        }
      }
    }

    a, a:hover{
      border: none;
    }

    .group{

    }
  }
}