// Setup variables

// Colors

$colorTitle:        #414141;
$colorWhite:        #f9f9f9;
$colorHeader:       lighten( #f7f1d7, 3% ); //#eef2ea;
$colorHeaderLink:   #F15A24;  //f26c4f;
$colorGray:         #515151;
$colorBody:         lighten( #f0e3b7, 5% );  // #dee5d8;
$colorSidebar:      mix( $colorBody, $colorHeaderLink, 90% );  //#e1e1cd;
$colorTextGreen:    #F15A24;  //f26c4f;  //#6bb21b;
$colorLinkGreen:    #F15A24;  //f26c4f;
$colorOrange:       #ce7a20;
$colorSecondary:    #f0e3b7;  //#dde4cd;

$body-bg:           $colorBody;

$link-color:            $colorTextGreen;
$link-hover-decoration: none;

// Tipography

$font-family-sans-serif:  'Lato', Arial, sans-serif;
$font-family-serif:       'Merriweather', Georgia, sans-serif;
$font-family-economica:   'Merriweather', Georgia, sans-serif;

$font-size-base:          14px;

$font-size-h1:            floor(($font-size-base * 2.6)) !default;     // ~36px
$font-size-h2:            floor(($font-size-base * 1.25)) !default;    // ~20px
$font-size-h3:            floor(($font-size-base * 1.125)) !default;   // ~18px
$font-size-h4:            floor(($font-size-base * 0.8125)) !default;  // ~13px
$font-size-h5:            floor(($font-size-base * 0.75)) !default;    // ~12px
$font-size-h6:            floor(($font-size-base * 0.6875)) !default;  // ~11px

$headings-font-weight:    normal;
$headings-color:          $colorTitle;


$grid-gutter-width:       30px;

// Navbar

$navbar-height:                   145px;

//** Point at which the navbar becomes uncollapsed.
$screen-md:                       992px !default;
$grid-float-breakpoint:           $screen-md;

$navbar-default-bg:               $colorHeader;
$navbar-default-link-color:       $colorGray;
$navbar-default-link-hover-color: $colorHeaderLink;

// Navbar toggle
$navbar-default-toggle-hover-bg:           $colorBody;
$navbar-default-toggle-icon-bar-bg:        $colorLinkGreen;
$navbar-default-toggle-border-color:       mix( $colorLinkGreen, $colorHeader, 50% );

// Panel

$panel-bg:                $colorWhite;
$panel-body-padding:      $grid-gutter-width;
$panel-heading-padding:   $grid-gutter-width;
$panel-footer-padding:    $grid-gutter-width;

// Table

//$table-bg-accent:       mix( $colorWhite, $colorHeader, 60% );
//$table-bg-hover:        mix( $colorWhite, $colorHeader, 50% );
$table-border-color:      #ddd; //mix( $colorWhite, $colorTextGreen, 70% );

// Tooltip

$tooltip-bg:          $colorTextGreen;
$tooltip-opacity:     1;
$tooltip-arrow-width: 4px;

// Popovers

$popover-max-width:                   300px;
$popover-border-color:                transparent;
$popover-title-bg:                    white;
$popover-arrow-width:                 6px;


// Pagination

$pagination-color:                     $link-color;
$pagination-hover-color:               $link-color;
$pagination-active-bg:                 $link-color;
$pagination-active-border:             $link-color;


// Styles

$border-radius-base:  0;
$border-radius-large: 0;
$border-radius-small: 0;
