---

---

<div id="page-title" class="entity single">
  <h2><%= title %></h2>
</div>

<div class="row">
  <div class="description">
    <p><%= lorem.paragraphs 6 %></p>
    <p><%= lorem.paragraphs 9 %></p>
    <p><%= lorem.paragraphs 7 %></p>
  </div>
</div>
